<!DOCTYPE html>
<html  >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/274707267-10160339571874298-5699557155789884071-n-122x122.jpg" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Login</title>
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.css">
  <link rel="stylesheet" href="assets/formstyler/jquery.formstyler.theme.css">
  <link rel="stylesheet" href="assets/datepicker/jquery.datetimepicker.min.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/recaptcha.css">
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  
  <script src="assets/web/assets/lazyload/lazyload.js"></script>

  

</head>
<body>
  <section class="extForm cid-u6SWqp0QQE" id="login">

    

    
    <div class="container">
        <h3 class="mbr-section-subtitle main-subtitle mbr-fonts-style align-center mbr-lighter mbr-white display-4">
            CMO Public Company Limited</h3>
        <div class="underline align-center pb-3">
           <div class="line"></div>
        </div>
        <h2 class="mbr-section-title main-title mbr-fonts-style align-center pb-5 mbr-white display-2"><strong>
            System Name</strong></h2>
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 form-wrapper">            
                
                <div class="form1" data-form-type="formoid">
<!--Formbuilder Form-->
<form action="https://mobirise.com/" method="POST" class="mbr-form form-with-styler" data-form-title="Mobirise Form"><input type="hidden" name="email" data-form-email="true" value="KuJkGEm+HhMxGB6Pg79Ja3Ideo1EdlO5PKAD2RMV+f1PkbcCtj7II1DXnNkPRnVPojXVpyoLY9H8uYa0Veg7J9qIXUYiHQIRGGXuXV2yHAt3wE7BgKNWNXz+AZpSrVGB.iMxhx9OZjaHAK/DyeIQndTGBXMvM8TuUZqX+UC8qRCIHOk/b8BoFH+8c3zNnPCSQJ3V9GhfRtOsIenf6VC48zvCyV6n4INjVkiYQxYAc4H/ETOCVRKO+viHWmUw8uiMA">
<div class="row">
<div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
<div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12"> </div>
</div>
<div class="dragArea row">
<div class="col-md-12 form-group " data-for="user">
<label for="user-login" class="form-control-label mbr-fonts-style display-7"><strong>Username</strong></label>
<input type="text" name="user" data-form-field="First Name" required="required" class="form-control display-7" value="" id="user-login">
</div>
<div class="col-md-12 form-group " data-for="password">
<label for="password-login" class="form-control-label mbr-fonts-style display-7"><strong>Password</strong></label>
<input type="text" name="password" data-form-field="Last Name" required="required" class="form-control display-7" value="" id="password-login">
</div>
<div class="col-md-12 input-group-btn"><button type="submit" class="btn btn-lg btn-form btn-primary display-4">LOGIN</button></div>
</div>
</form><!--Formbuilder Form-->
</div>
            </div>
        </div>
   </div>
</section>

<section class="extFooter cid-u6T53sa9pa" id="extFooter26-10">

    

    

    <div class="container">
        <div class="row justify-content-center">

            <div class="col-lg-6 col-md-8 col-sm-12">

                

                

                



                <div class="social-list align-center py-4">
                    <div class="soc-item">
                        <a href="https://twitter.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://www.facebook.com/pages/Mobirise/1616226671953247" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://plus.google.com/u/0/+Mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-line socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-tiktok socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://instagram.com/mobirise" target="_blank">
                            <div class="mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="color: rgb(101, 101, 101); fill: rgb(101, 101, 101);" media-simple="true"></div>
                        </a>
                    </div>
                </div>
                <p class="mbr-text mbr-normal py-2 links mbr-fonts-style display-4">
                    © Copyright 2024, <a href="https://cmo-group.com" class="text-primary"><strong>CMO Public Company Limited</strong></a><br>All Rights Reserved | <a href="https://cmo-group.com/privacy-policy/" class="text-warning"><strong>Privacy Policy</strong></a></p>

            </div>









        </div>
    </div>

</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/formstyler/jquery.formstyler.js"></script>
  <script src="assets/formstyler/jquery.formstyler.min.js"></script>
  <script src="assets/datepicker/jquery.datetimepicker.full.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid.min.js"></script>
  
  

</body>
</html>