@font-face {
   font-family: 'GothamBold';
   font-display: swap;
   src: url('file:///C:/Users/sakdinan.s/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-08-08_102628/fonts/GothamBold/font.ttf');
}
