.page_select
{
	font-family: "Verdana";font-size: 14px;padding-left: 1px;padding-right: 1px;
}
.page_select b
{
	font-family: "Verdana";
	font-size: 14px;
	padding-left: 1px;
	padding-right: 1px;
	color: #FF7A00;
}
.page_select a { text-decoration: none;font-family: "Verdana";font-size: 14px;padding-left: 1px;padding-right: 1px;}
.page_select a:link {  color:#857E70; text-decoration: none;font-family: "Verdana";font-size: 14px;padding-left: 1px;padding-right: 1px;}
.page_select a:visited { color:#787878; text-decoration: none;font-family: "Verdana";font-size: 14px;padding-left: 1px;padding-right: 1px;}
.page_select a:hover { color: #555555; text-decoration: underline;font-family: "Verdana";font-size: 14px;padding-left: 1px;padding-right: 1px;} 

a.topmenu {
	text-decoration: none;
	color:#FFFFFF;
	font-weight: bold;
}
a.topmenu:link {
	text-decoration: none;
	color:#FFFFFF;
	font-weight: bold;
}
a.topmenu:visited {
	text-decoration: none;
	color:#FFFFFF;
	font-weight: bold;
}
a.topmenu:hover {
	text-decoration: none;
	color:#e95830;
	font-weight: bold;
}