@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Kanit:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #367bba !important;
}
.bg-success {
  background-color: #232323 !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #367bba !important;
  border-color: #367bba !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #25547f !important;
  border-color: #25547f !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #25547f !important;
  border-color: #25547f !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #293787 !important;
  border-color: #293787 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #171f4c !important;
  border-color: #171f4c !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #171f4c !important;
  border-color: #171f4c !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #1f476b;
  color: #1f476b;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #367bba;
  border-color: #367bba;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #367bba !important;
  border-color: #367bba !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #111739;
  color: #111739;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #293787;
  border-color: #293787;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #293787 !important;
  border-color: #293787 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #232323;
  border-color: #232323;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #367bba !important;
}
.text-secondary {
  color: #293787 !important;
}
.text-success {
  color: #232323 !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #1f476b !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #111739 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #367bba;
  border-color: #367bba;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #367bba;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #91badf;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d5d5d5;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Kanit', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #367bba;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #367bba;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #367bba;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #367bba;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #367bba;
  border-bottom-color: #367bba;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #367bba !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #293787 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23367bba' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-ugByMsEKmG {
  padding-top: 60px;
  padding-bottom: 30px;
  background-color: #367bba;
}
.cid-ugBygm406O {
  background-color: #ffffff;
}
.cid-ugBygm406O .img-wrap {
  width: 100% !important;
  height: 100% !important;
}
.cid-ugBygm406O .underline .line {
  width: 2rem;
  height: 1px;
  background: #ffffff;
  display: inline-block;
}
.cid-ugBygm406O .image-element {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-ugBygm406O .image-element img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media (min-width: 1200px) {
  .cid-ugBygm406O .image-element {
    padding-left: 0;
  }
}
.cid-ugBygm406O .text-element {
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  padding: 2rem;
}
.cid-ugBygm406O .mbr-text {
  color: #cccccc;
  line-height: 27px;
}
.cid-ugBygm406O .brown {
  color: #367bba;
}
.cid-ugBygm406O .paragraphs-wrapper {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-ugBygm406O .paragraphs-wrapper .first-paragraph,
.cid-ugBygm406O .paragraphs-wrapper .second-paragraph {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-ugBygm406O .image-element {
    padding-top: 1rem;
  }
  .cid-ugBygm406O .paragraphs-wrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-ugBygm406O .paragraphs-wrapper .first-paragraph,
  .cid-ugBygm406O .paragraphs-wrapper .second-paragraph {
    width: 100%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .cid-ugBygm406O .first-paragraph,
  .cid-ugBygm406O .second-paragraph {
    width: 50%;
  }
  .cid-ugBygm406O .first-paragraph {
    padding-right: .5rem;
  }
  .cid-ugBygm406O .second-paragraph {
    padding-left: .5rem;
  }
  .cid-ugBygm406O .text-element {
    padding: 6rem;
  }
}
@media (max-width: 767px) {
  .cid-ugBygm406O .mbr-section-title,
  .cid-ugBygm406O .mbr-section-btn {
    text-align: left;
  }
}
.cid-ugBygm406O .mbr-text,
.cid-ugBygm406O .mbr-section-btn {
  color: #232323;
  text-align: left;
}
.cid-ugBAfSaOZt {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efeeee;
}
.cid-ugBAfSaOZt img {
  width: 100%;
  height: 100%;
  transition: 5s;
  object-fit: cover;
  margin: auto;
}
.cid-ugBAfSaOZt img:hover {
  transform: scale(1.1);
}
.cid-ugBAfSaOZt .img-col {
  padding: 0;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  position: relative;
}
.cid-ugBAfSaOZt h2 {
  padding: 0;
  margin: 0;
}
.cid-ugBAfSaOZt .title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ugBAfSaOZt .text-col {
  max-width: 650px;
  margin: auto;
  padding: 6rem 6rem;
}
.cid-ugBAfSaOZt .mbr-section-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.cid-ugBAfSaOZt .mbr-section-btn .btn {
  margin: 0rem!important;
  min-width: 400px;
  justify-content: space-between;
}
.cid-ugBAfSaOZt .mbr-section-btn .btn .mbr-iconfont {
  order: 2;
}
.cid-ugBAfSaOZt .number {
  border-top: 2px solid currentColor;
  padding-top: 0.6rem;
  margin-right: 3rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
@media (max-width: 992px) {
  .cid-ugBAfSaOZt .text-col {
    padding: 4rem 4rem;
  }
}
@media (max-width: 767px) {
  .cid-ugBAfSaOZt .btn {
    min-width: 200px!important;
    padding: 0.6rem 0.8rem!important;
  }
  .cid-ugBAfSaOZt .text-col {
    padding: 2rem 1rem;
  }
}
.cid-ugBAfSaOZt H2 {
  color: #333333;
}
.cid-ugBAfSaOZt .mbr-text {
  color: #767676;
}
.cid-ugBADkry1p {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #efeeee;
}
.cid-ugBADkry1p img {
  width: 100%;
  height: 100%;
  transition: 5s;
  object-fit: cover;
  margin: auto;
}
.cid-ugBADkry1p img:hover {
  transform: scale(1.1);
}
.cid-ugBADkry1p .img-col {
  padding: 0;
  overflow: hidden;
  text-align: center;
  justify-content: center;
  position: relative;
}
.cid-ugBADkry1p h2 {
  padding: 0;
  margin: 0;
}
.cid-ugBADkry1p .title-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-ugBADkry1p .text-col {
  max-width: 650px;
  margin: auto;
  padding: 6rem 6rem;
}
.cid-ugBADkry1p .mbr-section-btn {
  position: absolute;
  transform: rotate(90deg);
  bottom: 300px;
  left: 0;
  transform-origin: bottom left;
}
.cid-ugBADkry1p .mbr-section-btn .btn {
  margin: 0rem!important;
  min-width: 300px;
  justify-content: space-between;
}
.cid-ugBADkry1p .mbr-section-btn .btn .mbr-iconfont {
  order: 2;
  transform: rotate(-90deg);
}
.cid-ugBADkry1p .mbr-section-btn:hover .mbr-iconfont {
  transform: rotate(-90deg) translateX(0.6rem);
  margin: 0!important;
}
.cid-ugBADkry1p .mbr-iconfont {
  margin: 0!important;
}
.cid-ugBADkry1p .number {
  border-top: 2px solid currentColor;
  padding-top: 0.6rem;
  margin-right: 3rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}
@media (max-width: 992px) {
  .cid-ugBADkry1p .text-col {
    padding: 4rem 4rem;
  }
}
@media (max-width: 767px) {
  .cid-ugBADkry1p .mbr-section-btn {
    bottom: 0px;
    left: 0;
    transform: rotate(0deg);
  }
  .cid-ugBADkry1p .btn {
    padding: 0.6rem 0.8rem!important;
    min-width: 200px!important;
  }
  .cid-ugBADkry1p .text-col {
    padding: 2rem 1rem;
  }
}
.cid-ugBADkry1p H2 {
  color: #333333;
}
.cid-ugBADkry1p .mbr-text {
  color: #767676;
}
.cid-ugByAeOlGq {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-ugByAeOlGq .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-ugByAeOlGq .mbr-content-text {
  color: #767676;
  margin-bottom: 0;
}
.cid-ugByAeOlGq .card {
  word-wrap: break-word;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
.cid-ugByAeOlGq .img-text {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border: 2px solid #efefef;
  border-radius: 50%;
}
@media (max-width: 991px) {
  .cid-ugByAeOlGq .img-text {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .cid-ugByAeOlGq .cards-block {
    border-top: 2px solid #efefef;
  }
}
.cid-ugByAeOlGq .cards-block .card {
  border-bottom: 2px solid #efefef;
  border-radius: 0;
}
.cid-ugByAeOlGq .cards-container {
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  word-break: break-word;
}
.cid-ugByAeOlGq .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-ugByAeOlGq .media-block {
    padding-right: 2rem;
  }
}
.cid-ugByAeOlGq .cards-block {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
@media (max-width: 991px) {
  .cid-ugByAeOlGq .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-left: 0;
    padding-bottom: 2rem;
  }
}
.cid-ugBAIniPaf {
  padding-top: 90px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/background4.jpg");
}
.cid-ugBAIniPaf h4 {
  font-weight: 500;
  color: #ffffff;
}
.cid-ugBAIniPaf p {
  color: #ffffff;
}
.cid-ugBAIniPaf .card {
  margin-bottom: 2rem;
}
.cid-ugBAIniPaf .card-img {
  border-radius: 0;
  padding: 2rem 2rem 0 2rem;
  background-color: #367bba;
}
.cid-ugBAIniPaf .card-img span {
  font-size: 100px;
  color: #ffffff;
}
.cid-ugBAIniPaf .card-box {
  padding-bottom: 2rem;
  background-color: #367bba;
  background: linear-gradient(#367bba, transparent);
}
.cid-ugBAIniPaf .card-box .card-title {
  margin: 0;
  padding: 2rem 2rem 0 2rem;
}
.cid-ugBAIniPaf .card-box .mbr-text {
  margin-bottom: 0;
  padding: 2rem 2rem 0 2rem;
}
.cid-ugBAIniPaf .card-box .mbr-section-btn {
  padding-top: 1rem;
}
.cid-ugBAIniPaf .card-box .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-ugBAYPWA17 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-ugBAYPWA17 h2 {
  text-align: left;
}
.cid-ugBAYPWA17 h4 {
  text-align: left;
  font-weight: 500;
}
.cid-ugBAYPWA17 p {
  color: #767676;
  text-align: left;
}
.cid-ugBAYPWA17 .aside-content {
  flex-basis: 100%;
  -webkit-flex-basis: 100%;
}
.cid-ugBAYPWA17 .block-content {
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  word-break: break-word;
}
.cid-ugBAYPWA17 .media {
  margin: initial;
  align-items: center;
  -webkit-align-items: center;
}
.cid-ugBAYPWA17 .mbr-figure {
  align-self: flex-start;
  -webkit-align-self: flex-start;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-ugBAYPWA17 .card-img {
  padding-right: 2rem;
  width: auto;
}
.cid-ugBAYPWA17 .card-img span {
  font-size: 72px;
  color: #707070;
}
@media (min-width: 992px) {
  .cid-ugBAYPWA17 .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-ugBAYPWA17 .mbr-figure {
    padding-right: 0;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 300px) {
  .cid-ugBAYPWA17 .card-img span {
    font-size: 40px !important;
  }
}
.cid-ugBB5KyMon {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-ugBB5KyMon p {
  line-height: 1.6;
}
.cid-ugBB5KyMon .card-box {
  width: -webkit-fill-available;
}
.cid-ugBB5KyMon .card-img {
  width: auto;
}
.cid-ugBB5KyMon .card-img span {
  font-size: 96px;
  padding: 0.6rem;
  margin: 0 1rem;
  border-radius: 8px;
}
.cid-ugBB5KyMon .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-ugBB5KyMon .card-wrapper {
  display: flex;
  flex-direction: row;
}
.cid-ugBB5KyMon .card {
  height: 100%;
  margin: auto;
}
.cid-ugBB5KyMon img {
  width: 100%;
  heigth: auto;
}
.cid-ugBB5KyMon .card-title1 {
  color: #073b4c;
}
.cid-ugBB5KyMon .mbr-text1 {
  color: #767676;
}
.cid-ugBB5KyMon .card-title2 {
  color: #7f1933;
}
.cid-ugBB5KyMon .mbr-text2 {
  color: #767676;
}
@media (max-width: 576px) {
  .cid-ugBB5KyMon .card-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 0 0!important;
  }
  .cid-ugBB5KyMon .card-img {
    order: 1;
  }
  .cid-ugBB5KyMon .card-box {
    order: 2;
  }
}
.cid-ugBC80avk3 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-ugBC80avk3 .card-title {
  line-height: 1.6;
  padding: 15px 25px;
  background: linear-gradient(to top, #232323, transparent);
  margin: 0;
  text-align: left;
  color: #ffffff;
}
.cid-ugBC80avk3 .card-img {
  position: relative;
}
.cid-ugBC80avk3 .card-img:hover .card-title {
  background: linear-gradient(to top, #106dd2, transparent);
}
.cid-ugBC80avk3 .card {
  margin-bottom: 2rem;
  owerflow: hidden;
}
.cid-ugBC80avk3 .card-wrapper {
  position: relative;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08);
}
.cid-ugBC80avk3 .ico2 {
  color: #232323;
  font-size: 1.1rem;
}
.cid-ugBC80avk3 .icobig {
  position: absolute;
  bottom: 1.5rem;
  right: 2rem;
  color: #ffffff;
  font-size: 2.1rem;
}
.cid-ugBC80avk3 .text-box {
  padding: 20px;
}
.cid-ugBC80avk3 .text-box p {
  margin: 0;
}
.cid-ugBC80avk3 .ico-box {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 0px;
}
.cid-ugBC80avk3 .ico-box p {
  margin: 0;
}
.cid-ugBC80avk3 .ico-wrap {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0.5rem;
}
.cid-ugBC80avk3 .p-box {
  background-color: #efefef;
  width: 100%;
  padding: 10px;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-ugBC80avk3 .p-box p {
  padding: 10px;
  margin: 0;
  line-height: 1.5;
}
.cid-ugBC80avk3 .card-box {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  padding: 0px;
  transition: all 0.3s;
}
.cid-ugBC80avk3 .mbr-section-title {
  color: #232323;
}
@media (max-width: 991px) {
  .cid-ugBC80avk3 .card-box {
    bottom: 0px;
  }
  .cid-ugBC80avk3 .p-box {
    padding: 0px;
  }
  .cid-ugBC80avk3 .card-title {
    padding: 10px 15px;
  }
}
.cid-ugBC80avk3 .card-text {
  color: #767676;
}
.cid-ugBC80avk3 .phone {
  color: #767676;
}
.cid-ugBC80avk3 .card-title2 {
  color: #232323;
}
.cid-ugBDLfSACv {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-ugBDLfSACv .wrapper {
  overflow: hidden;
}
.cid-ugBDLfSACv .wrapper img {
  transition: all .5s;
}
.cid-ugBDLfSACv .wrapper:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.cid-ugBDLfSACv .underline .line {
  width: 2rem;
  height: 1px;
  background: #767676;
  display: inline-block;
}
.cid-ugBDLfSACv .wrapper {
  position: relative;
  padding: 2rem;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  height: 40rem;
}
.cid-ugBDLfSACv .wrapper .mbr-overlay {
  background: #232323;
  opacity: 0.5;
  border-top-right-radius: 25%;
  z-index: 1;
}
.cid-ugBDLfSACv .wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.cid-ugBDLfSACv .wrapper .content-block {
  position: relative;
  width: 100%;
  z-index: 1;
}
.cid-ugBDLfSACv .popup-btn .mbr-overlay {
  border-top-right-radius: 0 !important;
}
@media (max-width: 991px) {
  .cid-ugBDLfSACv .first-row-card {
    padding-bottom: 2rem;
  }
}
.cid-ugBDLfSACv .card-title {
  text-align: left;
}
.cid-ugBDLfSACv .card-title DIV {
  text-align: left;
}
.cid-ugBGPUnyDG {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 767px) {
  .cid-ugBGPUnyDG .container {
    padding: 1rem;
  }
}
.cid-ugBGPUnyDG .card-box {
  padding: 0 2rem;
}
.cid-ugBGPUnyDG .card {
  padding: 0!important;
}
.cid-ugBGPUnyDG .mbr-section-btn {
  padding-top: 2rem;
}
.cid-ugBGPUnyDG .container-fluid {
  padding: 0;
}
.cid-ugBGPUnyDG .card1 {
  background-image: url("../../../assets/images/corporate-info-general-information.jpg");
}
.cid-ugBGPUnyDG .card2 {
  background-image: url("../../../assets/images/corporate-info-general-information.jpg");
}
.cid-ugBGPUnyDG h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-ugBGPUnyDG p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-ugBGPUnyDG .card-wrapper {
  height: 100%;
  padding: 25rem 2rem 5rem 2rem;
  background-size: cover;
}
.cid-ugBGPUnyDG .btn {
  margin: 0!important;
  padding: 1rem 2rem;
}
@media (max-width: 767px) {
  .cid-ugBGPUnyDG .card-wrapper {
    padding: 15rem 1rem 3rem 1rem;
  }
}
