#container_Download {
	width:750px;
	margin:0 auto;
}
.download_borderBottom { border-bottom:1px #ececec solid; width:100%; height:1px; }
.table_borderTop { border-top:1px #ffffff solid; }
.ir_download tr.ir_downloadTopRow td {
	background:#ececec;
	color:#000000;
	text-align:center;
	font-weight:bold;
	height:60px;
	font-size:12pt;
}
.ir_download tr td {
	vertical-align:top;
	color:#5c5658;
	font-weight:bold;
	text-align:left;
}
.ir_download tr td.divide {
	border-right:solid #bcbcbc 1px;
	border-bottom:solid #bcbcbc 1px;
}
.ir_download tr td.divideRight {
	border-right:solid #bcbcbc 1px;
}
.ir_download tr.divideBottom td {
	border-top:solid #bcbcbc 1px;
	height:1px;
}
.txtfield_download {
	border:solid #ccc 1px;
	background:#fff;
	height:25px;
}
.ir_download h1 {
	font-size:250%;
	font-weight:bold;
	color:#333333;
	font-family:Arial;
	padding:0;
	margin:0;
}
.calculate {
	text-align:right;
	padding:20px 0 0 0;
}
.ir_download a {
	color:#5c5656;
	text-decoration:none;
}
.submit {
	background:url(../images/button_download.jpg) no-repeat;
	cursor:pointer;
	width: 101px;
	height: 29px;
	border: none;
}
.reset {
	background:url(../images/button_clear.jpg) no-repeat;
	cursor:pointer;
	width: 101px;
	height: 29px;
	border: none;
}
.item_list {
	padding:0px;
	margin:0px;
	width:100%;
}
.item_list li {
	float:left;
	display:block;
	list-style:none;
	padding:0px;
	margin:0px;
	width:25%;
	text-transform:uppercase;
	text-align:center;
}
.item_listAR {
	padding:0px;
	margin:0px;
}
.item_listAR li {
	display:block;
	list-style:none;
}
.center {
	text-align:center;
}
.quarter { color:#d3131a; font-size:10pt; }

.input_total { text-align:center; }




