@font-face {
   font-family: 'GothamMedium';
   font-display: swap;
   src: url('GothamMedium/font.ttf');
}
@font-face {
   font-family: 'GothamLight';
   font-display: swap;
   src: url('GothamLight/font.ttf');
}
