 .u-section-1 {
  min-height: 1237px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  font-size: 2.25rem;
  text-transform: uppercase;
  margin: 1159px auto 32px;
  padding: 0;
}

.u-section-1 .embed-responsive-1 {
  width: 100%;
  left: 0%;
  height: 467%;
  top: -184%;
}

@media (max-width: 1399px) {
   .u-section-1 {
    min-height: 768px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 625px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 720px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 577px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 100%;
    left: auto;
    height: 100%;
    top: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 800px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 657px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 360px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 294px;
    margin-bottom: 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 640px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 564px;
    margin-bottom: 30px;
  }
} .u-section-2 {
  min-height: 1080px;
}

.u-section-2 .u-group-1 {
  width: calc(((100% - 1320px) / 2) + 706px);
  min-height: 1080px;
  height: auto;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 200px 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  background-image: none;
  line-height: 1.4;
  margin: 0 159px 0 50px;
}

.u-section-2 .u-text-2 {
  margin: 40px 89px 0 40px;
}

.u-section-2 .u-slider-1 {
  min-height: 375px;
  width: 614px;
  height: auto;
  margin: -727px auto 352px calc(((100% - 1320px) / 2));
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-image-1 {
  background-image: url("images/part2.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/part1.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-carousel-control-1 {
  width: 0;
  height: 0;
  left: 0;
  right: auto;
  position: absolute;
}

.u-section-2 .u-carousel-control-2 {
  width: 0;
  height: 0;
}

@media (max-width: 1399px) {
   .u-section-2 {
    min-height: 768px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 1140px) / 2) + 706px);
    min-height: 768px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 45px;
    padding-bottom: 21px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -24px;
    margin-right: 79px;
    margin-left: 50px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 316px;
    width: 412px;
    margin-top: -566px;
    margin-bottom: 60px;
    margin-left: calc(((100% - 1140px) / 2));
  }
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 720px;
  }

  .u-section-2 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 627px);
    min-height: 720px;
  }

  .u-section-2 .u-slider-1 {
    width: calc(((100% - 940px) / 2) + 362px);
    margin-top: -518px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 800px;
  }

  .u-section-2 .u-group-1 {
    width: 687px;
    margin-top: 50px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 270px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 269px;
    width: 350px;
    margin-top: -720px;
    margin-right: calc(((100% - 720px) / 2));
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 720px;
  }

  .u-section-2 .u-group-1 {
    width: 590px;
    min-height: 562px;
    margin-top: 79px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 25px;
    margin-right: 197px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -69px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 159px;
    width: 207px;
    margin-top: -562px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 871px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
    min-height: 719px;
    margin-top: 52px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin: 81px 0 -105px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 189px;
    width: 189px;
    margin-top: -633px;
    margin-right: auto;
  }
} .u-section-3 {
  background-image: url("images/services-event.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 200px;
  margin-left: 50px;
  background-image: none;
  text-transform: uppercase;
  line-height: 2.2;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px 0 0 50px;
}

.u-section-3 .u-line-1 {
  width: 85px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 29px auto 0 50px;
}

.u-section-3 .u-line-2 {
  width: 187px;
  transform-origin: left center 0px;
  position: absolute;
  top: 393px;
  left: 135px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-text-3 {
  font-size: 1.91667rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px 0 60px 50px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 144px;
  }

  .u-section-3 .u-line-2 {
    top: 337px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: -50px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-3 .u-line-1 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-3 .u-line-2 {
    top: 163px;
    left: 83px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-line-2 {
    top: 155px;
  }

  .u-section-3 .u-text-3 {
    margin-bottom: 60px;
  }
} .u-section-4 {
  background-image: url("images/services-equipment.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 200px;
  margin-left: 50px;
  background-image: none;
  text-transform: uppercase;
  line-height: 2.2;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0 50px;
}

.u-section-4 .u-line-1 {
  width: 85px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 50px;
}

.u-section-4 .u-line-2 {
  width: 187px;
  transform-origin: left center 0px;
  position: absolute;
  top: 393px;
  left: 135px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-4 .u-text-3 {
  font-size: 1.91667rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px 0 60px 50px;
}

@media (max-width: 1399px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 144px;
  }

  .u-section-4 .u-line-2 {
    top: 337px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-right: -50px;
  }
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-4 .u-line-1 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-4 .u-line-2 {
    top: 163px;
    left: 83px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-line-2 {
    top: 155px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 88px;
    margin-bottom: 60px;
  }
} .u-section-5 {
  background-image: url("images/service-entertainment.jpg");
}

.u-section-5 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-5 .u-text-1 {
  margin-bottom: 0;
  margin-top: 200px;
  margin-left: 50px;
  background-image: none;
  text-transform: uppercase;
  line-height: 2.2;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-text-2 {
  text-transform: uppercase;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0 50px;
}

.u-section-5 .u-line-1 {
  width: 85px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 50px;
}

.u-section-5 .u-line-2 {
  width: 187px;
  transform-origin: left center 0px;
  position: absolute;
  top: 393px;
  left: 135px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-text-3 {
  font-size: 1.91667rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px 0 60px 50px;
}

@media (max-width: 1399px) {
   .u-section-5 {
    background-position: 50% 50%;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 144px;
  }

  .u-section-5 .u-line-2 {
    top: 337px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-right: -50px;
  }
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-5 .u-line-1 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-5 .u-line-2 {
    top: 163px;
    left: 83px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-line-2 {
    top: 155px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 88px;
    margin-bottom: 60px;
  }
} .u-section-6 {
  background-image: url("images/service-en-to-end_2_0.jpg");
}

.u-section-6 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-6 .u-text-1 {
  margin-bottom: 0;
  margin-top: 200px;
  margin-left: 50px;
  background-image: none;
  text-transform: uppercase;
  line-height: 2.2;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-text-2 {
  text-transform: uppercase;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0 50px;
}

.u-section-6 .u-line-1 {
  width: 85px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 50px;
}

.u-section-6 .u-line-2 {
  width: 187px;
  transform-origin: left center 0px;
  position: absolute;
  top: 393px;
  left: 135px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-text-3 {
  font-size: 1.91667rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 29px 0 60px 50px;
}

@media (max-width: 1399px) {
   .u-section-6 {
    background-position: 50% 50%;
  }

  .u-section-6 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 144px;
  }

  .u-section-6 .u-line-2 {
    top: 337px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-right: -50px;
  }
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-6 .u-line-1 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-6 .u-line-2 {
    top: 163px;
    left: 83px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }

  .u-section-6 .u-line-2 {
    top: 155px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 88px;
    margin-bottom: 60px;
  }
} .u-section-7 {
  background-image: url("images/service-experience_3_0.jpg");
}

.u-section-7 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-7 .u-text-1 {
  margin-bottom: 0;
  margin-top: 200px;
  margin-left: 50px;
  background-image: none;
  text-transform: uppercase;
  line-height: 2.2;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-text-2 {
  text-transform: uppercase;
  line-height: 1.2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 0 0 50px;
}

.u-section-7 .u-line-1 {
  width: 85px;
  transform-origin: left center 0px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0 50px;
}

.u-section-7 .u-line-2 {
  width: 187px;
  transform-origin: left center 0px;
  position: absolute;
  top: 393px;
  left: 135px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-text-3 {
  font-size: 1.91667rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px 0 60px 50px;
}

@media (max-width: 1399px) {
   .u-section-7 {
    background-position: 50% 50%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 144px;
  }

  .u-section-7 .u-line-2 {
    top: 337px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-right: -50px;
  }
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 800px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 360px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-7 .u-line-1 {
    margin-top: 19px;
    margin-left: 0;
  }

  .u-section-7 .u-line-2 {
    top: 163px;
    left: 83px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
    margin-bottom: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }

  .u-section-7 .u-line-2 {
    top: 155px;
  }

  .u-section-7 .u-text-3 {
    margin-top: 88px;
    margin-bottom: 60px;
  }
} .u-section-8 {
  min-height: 1080px;
  background-image: url("images/bg-our-work.png");
}

.u-section-8 .u-text-1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  line-height: 2;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 401px auto 0 calc(((100% - 1320px) / 2) + 150px);
}

.u-section-8 .u-text-2 {
  text-transform: uppercase;
  line-height: 2;
  transition-duration: 0.5s;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 19px auto 0 calc(((100% - 1320px) / 2) + 150px);
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  line-height: 2;
  transition-duration: 0.5s;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto 0 calc(((100% - 1320px) / 2) + 150px);
}

.u-section-8 .u-text-4 {
  text-transform: uppercase;
  line-height: 2;
  transition-duration: 0.5s;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto 0 calc(((100% - 1320px) / 2) + 150px);
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  line-height: 2;
  transition-duration: 0.5s;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto 0 calc(((100% - 1320px) / 2) + 150px);
}

.u-section-8 .u-text-6 {
  text-transform: uppercase;
  line-height: 2;
  transition-duration: 0.5s;
  font-weight: 400;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0 auto 60px calc(((100% - 1320px) / 2) + 150px);
}

@media (max-width: 1399px) {
   .u-section-8 {
    background-position: 50% 50%;
    min-height: 768px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 60px;
    margin-left: calc(((100% - 1140px) / 2) + 50px);
  }

  .u-section-8 .u-text-2 {
    line-height: 1.8;
    margin-left: calc(((100% - 1140px) / 2) + 50px);
  }

  .u-section-8 .u-text-3 {
    line-height: 1.8;
    margin-top: 19px;
    margin-left: calc(((100% - 1140px) / 2) + 50px);
  }

  .u-section-8 .u-text-4 {
    line-height: 1.8;
    margin-top: 19px;
    margin-left: calc(((100% - 1140px) / 2) + 50px);
  }

  .u-section-8 .u-text-5 {
    line-height: 1.8;
    margin-top: 19px;
    margin-left: calc(((100% - 1140px) / 2) + 50px);
  }

  .u-section-8 .u-text-6 {
    line-height: 1.8;
    margin-top: 19px;
    margin-left: calc(((100% - 1140px) / 2) + 50px);
  }
}

@media (max-width: 1199px) {
   .u-section-8 {
    min-height: 720px;
  }

  .u-section-8 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 50px);
  }

  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 50px);
  }

  .u-section-8 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + 50px);
  }

  .u-section-8 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2) + 50px);
  }

  .u-section-8 .u-text-5 {
    margin-left: calc(((100% - 940px) / 2) + 50px);
  }

  .u-section-8 .u-text-6 {
    margin-left: calc(((100% - 940px) / 2) + 50px);
  }
}

@media (max-width: 991px) {
   .u-section-8 {
    min-height: 800px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 186px;
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-8 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-8 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-8 .u-text-5 {
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }

  .u-section-8 .u-text-6 {
    margin-left: calc(((100% - 720px) / 2) + 50px);
  }
}

@media (max-width: 767px) {
   .u-section-8 {
    min-height: 414px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 27px;
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-8 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-8 .u-text-4 {
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-8 .u-text-5 {
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }

  .u-section-8 .u-text-6 {
    margin-bottom: 0;
    margin-left: calc(((100% - 540px) / 2) + 50px);
  }
}

@media (max-width: 575px) {
   .u-section-8 {
    min-height: 640px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 115px;
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-8 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-8 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-8 .u-text-4 {
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-8 .u-text-5 {
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }

  .u-section-8 .u-text-6 {
    margin-bottom: 60px;
    margin-left: calc(((100% - 340px) / 2) + 50px);
  }
}

.u-section-8 .u-text-2,
.u-section-8 .u-text-2:before,
.u-section-8 .u-text-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-2.u-text-2.u-text-2:hover {
  color: #0f6d94 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-2.u-text-2.u-text-2.hover {
  color: #0f6d94 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-container-layout:hover .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-text-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-3,
.u-section-8 .u-text-3:before,
.u-section-8 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-3.u-text-3.u-text-3:hover {
  color: #0f6d94 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-3.u-text-3.u-text-3.hover {
  color: #0f6d94 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-4,
.u-section-8 .u-text-4:before,
.u-section-8 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-4.u-text-4.u-text-4:hover {
  color: #0f6d94 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-4.u-text-4.u-text-4.hover {
  color: #0f6d94 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-5,
.u-section-8 .u-text-5:before,
.u-section-8 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-5.u-text-5.u-text-5:hover {
  color: #0f6d94 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-5.u-text-5.u-text-5.hover {
  color: #0f6d94 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-6,
.u-section-8 .u-text-6:before,
.u-section-8 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-8 .u-text-6.u-text-6.u-text-6:hover {
  color: #0f6d94 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-text-6.u-text-6.u-text-6.hover {
  color: #0f6d94 !important;
  font-weight: bold !important;
  text-decoration: none !important;
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-8 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-8 .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-9 {
  background-image: url("images/bg-news.png");
}

.u-section-9 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 187px auto 0 17px;
}

.u-section-9 .u-slider-1 {
  min-height: 544px;
  margin-top: 70px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 57px;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-blog-1 {
  margin-top: 52px;
  margin-bottom: 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 407px;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  height: 255px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-2 {
  margin-top: 17px;
  margin-bottom: 0;
  font-size: 1.91667rem;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  height: 255px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-3 {
  margin-top: 17px;
  margin-bottom: 0;
  font-size: 1.91667rem;
}

.u-section-9 .u-container-layout-4 {
  padding: 30px;
}

.u-section-9 .u-image-3 {
  height: 255px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-4 {
  margin-top: 17px;
  margin-bottom: 0;
  font-size: 1.91667rem;
}

.u-section-9 .u-carousel-item-2 {
  margin-left: 0;
  margin-right: auto;
  margin-top: 20px;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-9 .u-blog-2 {
  margin: 0 auto 0 0;
}

.u-section-9 .u-repeater-2 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 407px;
}

.u-section-9 .u-container-layout-6 {
  padding: 30px;
}

.u-section-9 .u-image-4 {
  height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-5 {
  margin-top: 17px;
  margin-bottom: 0;
  font-size: 1.91667rem;
}

.u-section-9 .u-container-layout-7 {
  padding: 30px;
}

.u-section-9 .u-image-5 {
  height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-6 {
  margin-top: 17px;
  margin-bottom: 0;
  font-size: 1.91667rem;
}

.u-section-9 .u-container-layout-8 {
  padding: 30px;
}

.u-section-9 .u-image-6 {
  height: 232px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-9 .u-text-7 {
  margin-top: 17px;
  margin-bottom: 0;
  font-size: 1.91667rem;
}

.u-section-9 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
}

.u-section-9 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1399px) {
   .u-section-9 {
    background-position: 50% 50%;
  }

  .u-section-9 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 137px;
    margin-left: 75px;
  }

  .u-section-9 .u-slider-1 {
    margin-top: 0;
    margin-bottom: 48px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
    min-height: 352px;
  }

  .u-section-9 .u-blog-2 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 14.6667px));
    min-height: 347px;
  }

  .u-section-9 .u-image-4 {
    height: 190px;
  }

  .u-section-9 .u-text-5 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-image-5 {
    height: 190px;
  }

  .u-section-9 .u-text-6 {
    font-size: 1.5rem;
  }

  .u-section-9 .u-image-6 {
    height: 190px;
  }

  .u-section-9 .u-text-7 {
    font-size: 1.5rem;
  }
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-9 .u-slider-1 {
    margin-bottom: 0;
  }

  .u-section-9 .u-repeater-1 {
    min-height: 290px;
  }

  .u-section-9 .u-repeater-2 {
    min-height: 280px;
  }

  .u-section-9 .u-image-4 {
    height: 144px;
  }

  .u-section-9 .u-image-5 {
    height: 144px;
  }

  .u-section-9 .u-image-6 {
    height: 144px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 924px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 89px;
    margin-left: 30px;
  }

  .u-section-9 .u-slider-1 {
    min-height: 558px;
    margin-top: 48px;
    margin-bottom: 60px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11.000025px));
    min-height: 666px;
  }

  .u-section-9 .u-container-layout-5 {
    padding: 0;
  }

  .u-section-9 .u-blog-2 {
    width: 690px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-9 .u-repeater-2 {
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
    min-height: 538px;
    grid-auto-columns: calc(33.3333% - 14.6667px);
  }

  .u-section-9 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-9 .u-image-4 {
    height: 109px;
  }

  .u-section-9 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-9 .u-image-5 {
    height: 109px;
  }

  .u-section-9 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-9 .u-image-6 {
    height: 109px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 414px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 41px;
    margin-left: 0;
  }

  .u-section-9 .u-slider-1 {
    min-height: 349px;
    margin-top: -20px;
    margin-bottom: 0;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-blog-2 {
    margin-bottom: -27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-repeater-2 {
    min-height: 337px;
  }

  .u-section-9 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-4 {
    height: 81px;
    width: 115px;
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-9 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-5 {
    height: 81px;
    width: 115px;
    margin-right: 124px;
    margin-left: 0;
  }

  .u-section-9 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-image-6 {
    height: 81px;
    width: 115px;
    margin-right: 124px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-9 .u-text-1 {
    margin-top: 40px;
    margin-right: 205px;
  }

  .u-section-9 .u-slider-1 {
    min-height: 426px;
    margin-top: 58px;
    margin-bottom: 60px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-9 .u-blog-2 {
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-repeater-2 {
    min-height: 384px;
  }

  .u-section-9 .u-image-4 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-5 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-image-6 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-10 {
  background-image: url("images/bg-contact-us2.png");
  background-position: 100% 100%;
}

.u-section-10 .u-sheet-1 {
  min-height: 1080px;
}

.u-section-10 .u-icon-1 {
  width: 161px;
  height: 60px;
  margin: 50px auto 0 0;
  padding: 0;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 571px auto 0 0;
  margin-left: -190px;
}

.u-section-10 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  text-transform: uppercase;
  margin: 25px auto 0 0;
}

.u-section-10 .u-text-3 {
  margin: 20px auto 0 405px;
}

.u-section-10 .u-text-4 {
  text-transform: uppercase;
  margin: -17px auto 0 0;
}

.u-section-10 .u-text-5 {
  text-transform: uppercase;
  margin: -23px auto 0 223px;
}

.u-section-10 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 170px;
  min-width: 68px;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: -23px 0 0 auto;
}

.u-section-10 .u-icon-6 {
  height: 50px;
}

.u-section-10 .u-icon-7 {
  height: 50px;
}

.u-section-10 .u-icon-8 {
  height: 50px;
}

.u-section-10 .u-text-6 {
  text-transform: uppercase;
  margin: 51px auto 0 0;
}

.u-section-10 .u-icon-9 {
  width: 187px;
  height: 80px;
  margin: 26px auto 0 441px;
  padding: 0;
}

.u-section-10 .u-icon-10 {
  width: 166px;
  height: 71px;
  margin: -75px 542px 0 auto;
  padding: 0;
}

.u-section-10 .u-icon-11 {
  width: 143px;
  height: 61px;
  margin: -72px 37px 0 auto;
  padding: 0;
}

.u-section-10 .u-icon-12 {
  width: 140px;
  height: 60px;
  margin: -57px 231px 0 auto;
  padding: 0;
}

.u-section-10 .u-icon-13 {
  width: 125px;
  height: 54px;
  margin: -57px auto 0 0;
  padding: 0;
}

.u-section-10 .u-icon-14 {
  width: 125px;
  height: 54px;
  margin: -54px auto 0 152px;
  padding: 0;
}

.u-section-10 .u-icon-15 {
  width: 137px;
  height: 59px;
  margin: -54px auto 0 304px;
  padding: 0;
}

.u-section-10 .u-icon-16 {
  width: 137px;
  height: 59px;
  margin: -59px 391px 60px auto;
  padding: 0;
}

@media (max-width: 1399px) {
  .u-section-10 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-10 .u-icon-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 70px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-scale: 1;
    margin-top: 374px;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-10 .u-text-3 {
    width: auto;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 14px;
  }

  .u-section-10 .u-text-4 {
    width: auto;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-10 .u-text-5 {
    width: auto;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: -25px;
  }

  .u-section-10 .u-social-icons-1 {
    transition-duration: 0.5s;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-10 .u-icon-6 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-10 .u-icon-7 {
    color: rgb(85, 172, 238) !important;
  }

  .u-section-10 .u-icon-8 {
    color: rgb(197, 54, 164) !important;
  }

  .u-section-10 .u-text-6 {
    width: auto;
    margin-top: 65px;
  }

  .u-section-10 .u-icon-9 {
    margin-top: 12px;
    margin-left: 421px;
  }

  .u-section-10 .u-icon-10 {
    margin-top: -81px;
    margin-right: 425px;
  }

  .u-section-10 .u-icon-11 {
    margin-top: -64px;
    margin-right: 0;
  }

  .u-section-10 .u-icon-12 {
    margin-right: 148px;
  }

  .u-section-10 .u-icon-13 {
    margin-left: 18px;
  }

  .u-section-10 .u-icon-14 {
    margin-left: 163px;
  }

  .u-section-10 .u-icon-15 {
    margin-top: -59px;
    margin-left: 308px;
  }

  .u-section-10 .u-icon-16 {
    margin-top: -57px;
    margin-right: 303px;
    margin-bottom: 41px;
  }
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-3 {
    margin-top: 16px;
    margin-right: 322px;
    margin-left: auto;
  }

  .u-section-10 .u-text-4 {
    margin-top: -19px;
  }

  .u-section-10 .u-icon-9 {
    margin-top: 6px;
    margin-left: 313px;
  }

  .u-section-10 .u-icon-10 {
    width: 149px;
    height: 64px;
    margin-top: -78px;
    margin-right: 365px;
  }

  .u-section-10 .u-icon-11 {
    margin-top: -59px;
  }

  .u-section-10 .u-icon-12 {
    width: 99px;
    height: 42px;
    margin-top: -52px;
    margin-right: 156px;
  }

  .u-section-10 .u-icon-13 {
    width: 104px;
    height: 45px;
    margin-top: -39px;
    margin-left: 0;
  }

  .u-section-10 .u-icon-14 {
    width: 108px;
    height: 47px;
    margin-top: -45px;
    margin-left: 125px;
  }

  .u-section-10 .u-icon-15 {
    width: 109px;
    height: 47px;
    margin-top: -46px;
    margin-left: 248px;
  }

  .u-section-10 .u-icon-16 {
    width: 99px;
    height: 43px;
    margin-top: -50px;
    margin-right: 280px;
    margin-bottom: 58px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 945px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 106px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-10 .u-text-4 {
    margin-top: -109px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 7px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 69px;
  }

  .u-section-10 .u-icon-9 {
    margin-top: 23px;
    margin-right: 214px;
    margin-left: auto;
  }

  .u-section-10 .u-icon-10 {
    margin-top: -145px;
    margin-right: 110px;
  }

  .u-section-10 .u-icon-11 {
    width: 105px;
    height: 45px;
    margin-top: 16px;
  }

  .u-section-10 .u-icon-12 {
    margin-top: -114px;
    margin-right: 0;
  }

  .u-section-10 .u-icon-13 {
    margin-top: -41px;
    margin-left: 218px;
  }

  .u-section-10 .u-icon-14 {
    margin-top: 23px;
    margin-left: 218px;
  }

  .u-section-10 .u-icon-15 {
    margin-top: -116px;
    margin-right: 259px;
    margin-left: auto;
  }

  .u-section-10 .u-icon-16 {
    margin-top: 26px;
    margin-right: 135px;
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: 58px;
  }

  .u-section-10 .u-text-1 {
    margin-top: 84px;
  }

  .u-section-10 .u-text-3 {
    margin-top: 133px;
  }

  .u-section-10 .u-text-4 {
    margin-top: -83px;
  }

  .u-section-10 .u-text-5 {
    margin-top: 8px;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: -8px;
    margin-right: 13px;
  }

  .u-section-10 .u-text-6 {
    margin-top: 39px;
  }

  .u-section-10 .u-icon-9 {
    width: 114px;
    height: 49px;
    margin-top: 36px;
    margin-right: 190px;
  }

  .u-section-10 .u-icon-10 {
    width: 103px;
    height: 44px;
    margin-top: -100px;
    margin-right: 88px;
  }

  .u-section-10 .u-icon-11 {
    width: 91px;
    height: 39px;
    margin-top: 7px;
  }

  .u-section-10 .u-icon-12 {
    width: 75px;
    height: 32px;
    margin-top: -83px;
  }

  .u-section-10 .u-icon-13 {
    width: 82px;
    height: 35px;
    margin-top: -35px;
    margin-left: 155px;
  }

  .u-section-10 .u-icon-14 {
    width: 76px;
    height: 33px;
    margin-top: 18px;
    margin-left: 161px;
  }

  .u-section-10 .u-icon-15 {
    width: 88px;
    height: 38px;
    margin-top: -83px;
    margin-right: 203px;
  }

  .u-section-10 .u-icon-16 {
    width: 86px;
    height: 37px;
    margin-top: 10px;
    margin-right: 104px;
    margin-bottom: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-10 .u-icon-1 {
    margin-top: 38px;
    margin-right: 179px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
  }

  .u-section-10 .u-social-icons-1 {
    margin-top: 51px;
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-top: 8px;
  }

  .u-section-10 .u-icon-9 {
    margin-top: 52px;
    margin-right: auto;
    margin-left: 68px;
  }

  .u-section-10 .u-icon-10 {
    margin-top: -98px;
    margin-right: 78px;
  }

  .u-section-10 .u-icon-11 {
    margin-top: 0;
    margin-right: -13px;
  }

  .u-section-10 .u-icon-12 {
    margin-top: -74px;
  }

  .u-section-10 .u-icon-13 {
    margin-left: 0;
  }

  .u-section-10 .u-icon-14 {
    margin-left: 0;
  }

  .u-section-10 .u-icon-15 {
    margin-top: -86px;
    margin-right: auto;
    margin-left: 82px;
  }

  .u-section-10 .u-icon-16 {
    margin-top: 8px;
    margin-right: 84px;
  }
}

.u-section-10 .u-social-icons-1,
.u-section-10 .u-social-icons-1:before,
.u-section-10 .u-social-icons-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-10 .u-container-layout:hover .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-10 .u-social-icons-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 81px;
}@font-face {
  font-family: 'GothamBook';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GothamBook.ttf);
}@font-face {
  font-family: 'RSU_Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/RSU_Regular.ttf);
}@font-face {
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GothamLight.ttf);
}