/* ir-navbar start */

.ir-navcontainer {
	font-family: "Montserrat", "Kanit", sans-serif !important ;
	color: black;
}

.ir-container-fluid {
	padding: 0 5% 0 5%;
}

.navbar-brand img {
	height: 2rem;
	width: auto;
}

.navbar-nav {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.navbar-expand-lg {
	color: black;
}

.navbar2 {
	border-top: black;
}

.gtc-btn {
	height: 0.65rem;
}

.nav-l1 {
	color: black;
	text-decoration: none;
	padding: 0 0.5rem;
}

.gtc-lg {
	font-size: 0.8rem;
}

.menu-list a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
	/* padding:  1rem 3rem 1rem 3rem ; */
	font-size: 0.8rem !important;
}

.menu-suplist a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.7);
	padding: 0.5rem 0 0.5rem 0.5rem;
	font-size: smaller;
}

.hbg-btn {
	height: 30px;
}

.nav-mainpadding {
	padding: 0 5rem 0 5rem;
}

.menu-title {
	color: #4a7ab5;
	font-size: 1.5rem !important;
}

.dropdown-menu {
	width: 80% !important;
	background-color: #f8f9fa !important;
	border-radius: 0px 0px 30px 30px !important;
	border: none !important;
}

.navbar .megamenu {
	padding: 3rem 5rem 3rem 5rem;
}

.navbar .megamenu[data-bs-popper] {
	left: 10%;
	margin-top: 0.125rem;
}

/* ============ desktop view ============ */
@media all and (min-width: 1330px) {
	.navbar .has-megamenu {
		position: static !important;
	}
	.navbar .megamenu {
		left: 10%;
		right: 0;
		width: 100%;
		margin-top: 0;
	}
}

.nav-link {
	font-size: 1rem;
}

/* ============ desktop view .end// ============ */

/* ============ Tablet view ============ */
@media (max-width: 1329px) {
	/* .dropdown-menu  {
        padding: 0 ;
        padding: 0%;
        margin: 0%;
        width: 100% !important;
        border-radius: 0 !important;
    } */

	.navbar .megamenu {
		padding: 1rem 0 1rem 0.5rem;
	}

	.menu-title {
		font-size: 1rem !important;
		padding-left: 2rem !important;
	}
	.menu-list a {
		font-size: 0.7rem;
	}

	.nav-l1 {
		font-size: 0.6rem;
	}

	.nav-link {
		font-size: 0.8rem;
	}

	.navbar {
		border-color: transparent !important;
	}
	.menu-suplist a {
		padding: 0.5rem 0 0.5rem 0.4rem;
		font-size: smaller;
	}
}

@media (max-width: 990px) {
	.navbar.fixed-top .navbar-collapse,
	.navbar.sticky-top .navbar-collapse {
		overflow-y: auto;
		max-height: 90vh;
		margin-top: 10px;
	}

	.nav-mainpadding {
		padding: 0 0.5rem 0 0.5rem;
	}

	.dropdown-menu {
		padding: 2rem 3rem 3rem 3rem !important;
		border-radius: 15px 15px 15px 15px !important;
		margin: 0.5rem 0rem 0.5rem 0 !important;
	}
}
/* ============ Tablet view .end// ============ */

/* ============ Tablet view ============ */
@media (max-width: 430px) {
	.menu-list a {
		font-size: 0.6rem !important;
	}

	.menu-suplist a {
		font-size: 0.6rem;
	}
}
/* ============ Tablet view .end// ============ */

/* ir-navbar end */

/* ir-footer start */

.footer-section {
	background-image: url("http://localhost/ir.cmo-group.com/assets/img/home-ir contact bg.jpg"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 40%;

	/* background-attachment: fixed; */
	/* background-position: center; */
	background-repeat: no-repeat;
	background-size: cover;
	/* scroll-snap-align: center ; */
	/* scroll-snap-stop: always; */
}

.footer-grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 5%;
	/* background-image: url("http://localhost/ir.cmo-group.com/assets/img/home-ir contact bg.jpg"); */
	padding: 5% 15% 8% 15% !important;
	color: white;
	font-size: 1rem !important;
	font-family: "Montserrat", "Kanit", sans-serif;
	text-align: center;
	vertical-align: middle;
}

.footer-grid-container h3 {
	font-size: 2.5rem !important;
	font-weight: 900 !important;
}

.footer-grid-container h4 {
	font-size: 1.5rem !important;
	font-weight: 900 !important;
}

.footer-grid-container > div {
	text-align: left;
}
.footer-item1 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.footer-item1 ul {
	padding: 1.5rem 0 1rem 1rem;
}

.footer-item1 > ul > li {
	list-style: none;
	padding: 1rem 0 1rem -3rem !important;
}
.footer-item1 > ul > li > a {
	color: white;
	font-family: "Montserrat", "Kanit", sans-serif;
	text-decoration-line: none;
}
.footer-item1 > ul > li > img {
	height: 1rem;
	padding-right: .3rem;
}
.footer-item2 {
	grid-column-start: 2;
	grid-column-end: 3;
}
.footer-item2 .Sub-btn {
	text-align: left;
	padding-top: 4% !;
}
.footer-item2 .Sub-btn > button {
	font-size: 1.1rem;
	background-color: #9dd4f3;
	font-family: "Montserrat", "Kanit", sans-serif;
	border-color: #9dd4f3;
	border-radius: 20px;
	margin: 0.8rem;
	padding: 0 1.5rem 0 1.5rem !important;
}
.footer-item3 {
	grid-column-start: 1;
	grid-column-end: 3;
	gap: 0.25rem;
	justify-content: flex-end;
}

.footer-item3 > a {
	font-size: 0.8rem;
}

.footer-item3 > a > img {
	width: 1rem;
	height: 1rem;
}

.footer-item2 {
	padding: 3.5rem 0 0 0;
}

/* Media Queries */

@media only screen and (max-width: 992px) {
	.footer-grid-container {
		font-size: 0.8rem !important;
	}

	.footer-item1 > ul > li {
		list-style: none;
		padding: 1rem 0 1rem -4rem;
	}
	.footer-item2 .Sub-btn > button {
		font-size: 1rem;
		padding: 0.4rem 0.6rem 0.4rem 0.6rem;
	}

	.footer-item3 > a {
		font-size: 0.6rem !important;
	}

	.footer-grid-container h3 {
		font-size: 2rem !important;
	}

	.footer-grid-container h4 {
		font-size: 1rem !important;
	}

	.footer-item1 ul {
		padding: 0.8rem 0 0.8rem 0.8rem;
	}

	.footer-item2 {
		padding: 2.5rem 0 0 0;
	}
}

@media only screen and (max-width: 600px) {
	.footer-grid-container {
		padding-bottom: 10%;
		font-size: 0.6rem;
	}
	.footer-item1 > ul > li {
		list-style: none;
		padding: 1rem 0 1rem -5rem;
	}

	.footer-item2 .Sub-btn > botton {
		padding: 0.2rem 0.4rem 0.2rem 0.4rem;
		font-size: 0.8rem !important;
	}
}

@media only screen and (max-width: 450px) {
	.footer-grid-container {
		padding-bottom: 18%;
	}
	.footer-item2 .Sub-btn {
		text-align: center;
		padding-top: 2%;
	}

	.footer-item1 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.footer-item2 {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	.footer-item3 {
		grid-column-start: 1;
		grid-column-end: 3;
		padding-bottom: 2rem;
	}

	.footer-item2 .Sub-btn > botton {
		padding: 0.1rem 0.2rem 0.1rem 0.2rem;
		font-size: 0.6rem !important;
	}

	.footer-item1 ul {
		padding: 0.4rem 0 0 0.4rem;
	}

	.footer-item2 {
		padding: 0;
	}
}

/* ir-footer end */

/* Business Overview start */

.BsO-Container {
	font-family: "Montserrat", "Kanit", sans-serif !important ;
	overflow: hidden;
}

.Bso-SubHead div {
	color: white;
	height: 20rem !important;


}

.Bso-SubHeadList {
	background-position: center;
	filter: grayscale(0.5);
	background-size: cover;
	transition: 
    /* scale 750ms ease-out, */ filter 250ms ease-in-out;
	font-size: 1.3rem;
	padding: 5rem 0.5rem 0 0.5rem;

}

.Bso-SubHeadList:hover {
	filter: grayscale(0);
	list-style: none;
}

.Bso-SubHeadList a {
color: white;
font-size: 1.3rem;
text-decoration: none;
text-shadow: 2px 2px 4px #000000;
letter-spacing: 1px;
line-height: 90% !important;
text-align: center;

}


.Bso-SubHeadList a:hover {
font-weight: bolder;
text-shadow: 2px 2px 5px #000000;
transition: all .4s ease;
-webkit-transition: all .3s ease;


}


.Bso-SubHead1 {
	background-image: url("http://localhost/ir.cmo-group.com/assets/img/BO-img/business overview-creative button.jpg");
}

.Bso-SubHead2 {
	background-image: url("http://localhost/ir.cmo-group.com/assets/img/BO-img/business overview-equipment button.jpg");
}

.Bso-SubHead3 {
	background-image: url("http://localhost/ir.cmo-group.com/assets/img/BO-img/business overview-visual button.jpg");
}

.Bso-SubHead4 {
	background-image: url("http://localhost/ir.cmo-group.com/assets/img/BO-img/business overview-entertainment button.jpg");
}

.Bso-SubHead5 {
	background-image: url("http://localhost/ir.cmo-group.com/assets/img/BO-img/business overview-digital button.jpg");
}

.Bso-SubHead6 {
	background-image: url("http://localhost/ir.cmo-group.com/assets/img/BO-img/business overview-utility button.jpg");
}

.BsO1 {
	padding: 5% 5% 2% 5% !important;
}

.BsO1 h1 {
	color: #7297c5;
	font-size: 3rem !important;
	font-weight: 900;
}

.BsO1 p {
	padding: 1rem 10% 1rem 10%;
}

.BsO2 {
	display: flex;
	padding: 2% 5% 2% 5% !important;
	justify-content: center;
	gap: 5px;
}

.BsO2List {
	justify-content: center;
}

.BsO2List img {
	height: 20rem;
	width: auto;
}

.BsO3 {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.BsO3 img {
	width: 100%;
}

.BsO3 h4 {
	color: #4a7ab5;
	padding: 1rem 0 0 1rem;
	text-align: left;
}

.BsO3 p {
	padding: 1rem;
	text-align: left;
}

.BsO4 {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.BsO4 img {
	width: 100%;
}

.BsO4 h4 {
	color: #4a7ab5;
	padding: 1rem 0 0 1rem;
	text-align: right;
}

.BsO4 p {
	padding: 1rem;
	text-align: right;
}

.BsO5 h2 {
	color: #4a7ab5;
	font-weight: 600;
}
.BsO5 h5 {
	color: #4a7ab5;
}

.BsO5 p {
	padding: 1rem 15% 1rem 15%;
}

.BsO6 {
	padding: 5% 10% 5% 10%;
	background-color: #E3E3E3;
	justify-content: center;
}

.BsO6 h2 {
	text-align: center;
	color: #4a7ab5;
	font-weight: 800;
}

.BsO6 p {
	text-align: center;
}

.sub-BsO6 {
	display: flex;
	padding: 2% 5% 2% 5% !important;
	justify-content: center;
	gap: 3px;
	text-align: center !important;
}

.sub-BsO6List {
	justify-content: center;
	padding: 1rem;
	color: #4a7ab5;
}

.sub-BsO6List img {
	height: 15rem;
	padding: 1rem;
}

.BsO7 {
	padding: 5% 10% 5% 10%;
	background-color: #CAD5E9;
}

.BsO7 h2 {
	text-align: center;
	font-weight: 800;
	padding: 3% 15% 2% 15%;

}

.BsO7 p {
	text-align: center;
  padding: 0 3% 0 3%;
}

.sub-BsO7 {
	display: flex;
	padding: 2% 5% 2% 5% !important;
	justify-content: center;
	gap: 0;
}

.sub-BsO7List {
	justify-content: center;
}

.sub-BsO7List h5 {
	padding: 5% 5% 2% 5% !important;
	font-size: 1.2rem;
	font-weight: 500;
}

.sub-BsO7List h5 {
	padding: 5% 5% 2% 5% !important;
}

.sub-BsO7List img {
	height: 15rem;
}

.BsO8 {
	height: 50rem;
	padding: 10% 5% 2% 65% !important;
	background-image: url("http://localhost/ir.cmo-group.com/assets/img/BO-img/business overview-digital.jpg");
	background-size: cover;
}

.BsO8 h1 {
	color: #9BD7F3;
	font-size: 3rem !important;
	font-weight: 900;
	text-align: left;
	text-shadow: 2px 2px 5px #000000;
}

.BsO8 p {
	color: white;
	text-align: left;
	text-shadow: 2px 2px 5px #000000;
}

.BsO9 {
	display: flex;
	justify-content: center;
	gap: 1rem;
	padding: 5% 5% 5% 5%;
}

.BsO9 img {
	width: 100%;
}

.BsO9 h2 {
	color: #4A7BAA;
	padding: 1rem 0 0 1rem;
	text-align: right;
	font-weight: 900;
}

.BsO9 p {
	padding: 1rem;
	text-align: right;
}

/* Media Queries */

@media only screen and (max-width: 1400px) {
	.Bso-SubHead div {
		color: white;
		height: 15rem !important;
	}

	.Bso-SubHeadList {

		padding: 3rem 0.2rem 0 0.2rem;
	}

	.Bso-SubHeadList a {
		font-size: 0.8rem;

	}

	.BsO1 h1 {
		font-size: 2rem !important;
	}

	.BsO2 {
		gap: 3px;
	}

	.BsO2List img {
		height: 15rem;
		width: auto;
	}

	.sub-BsO6List img {
		height: 8rem;
	}


	.BsO7 p {
		font-size: smaller;
	}

	.sub-BsO7List img {
		height: 12rem;
	}

	.BsO8 {
		height: 40rem;
		padding: 10% 5% 2% 50% !important;
	}

	.BsO8 h1 {
		font-size: 2rem !important;
	}

	@media only screen and (max-width: 1050px) {
		.BsO2List img {
			height: 10rem;
		}
		.sub-BsO6List img {
			height: 5rem;
		}



		.BsO7 p {
			font-size: smaller;
		}

		.sub-BsO7List img {
			height: 10rem;
		}
	}

	@media only screen and (max-width: 950px) {
		
		

		
		
		.BsO2List img {
			height: 10rem;
		}
		.sub-BsO7List img {
			height: 7rem;
		}

		.BsO7 h5 {
			font-size: smaller;
		}

		.BsO7 p {
			font-size: smaller;
		}

		.BsO8 {
			height: 40rem;
			padding: 20% 10% 2% 10% !important;
			

			
		}

		.BsO8-supbg {
			backdrop-filter: blur(10px);
    margin: 3%;
    padding: 3%;
	border-radius: 40px;
    
  }

		.BsO8 h1 {
			font-size: 2rem !important;
			text-align: center;
		}

		.BsO8 p {
			text-align: center;
		}
	}

	@media only screen and (max-width: 600px) {
		.Bso-SubHead div {
			color: white;
			height: 10rem !important;

			display: none;
		}

		.Bso-SubHeadList {

			padding: 2rem 0.1rem 0 0.1rem;
		}

		.Bso-SubHeadList a {
			font-size: 0.7rem;
			

		}

		.BsO1 h1 {
			font-size: 1.6rem !important;
		}
		.BsO2List img {
			height: 8rem;
		}

		.BsO3 {
			display: block;
		}

		.BsO3 h4 {
			text-align: center;
		}

		.BsO3 p {
			text-align: center;
		}

		.BsO4 {
			display: block;
			background-color: #E3E3E3;
		}
		.BsO3 h4 {
			text-align: center;
		}

		.BsO3 p {
			text-align: center;
		}

		.BsO4 h4 {
			text-align: center;
		}

		.BsO4 p {
			text-align: center;
		}

		.sub-BsO6  {
		display: block;
		}

		.sub-BsO6List img {
			height: 5rem;
		}

		.sub-BsO6List {
		
			text-align: left ;
			
			
		}

		.sub-BsO6List {
			font-size: smaller;
		}

		.BsO7 {
			padding: 3% 3% 3% 3%;
			background-color: #CAD5E9;
		}
		

		.sub-BsO7 {
			display: block;
			padding: 2% 5% 2% 5% !important;
			gap: 0;
		}

		.BsO7 h5 {
			font-size: smaller;
			color: #4a7ab5;
			text-align: left;


		}


		.BsO7 p {
			font-size: smaller;
			text-align: left;
			

		}

		.sub-BsO7List {
			justify-content: center;
			border-block: none !important;
			
		}

		.sub-BsO7List img {
			height: auto;
			
		}

		.BsO9 {
			display: block;
		}

		.BsO9 h2 {
			text-align: center;
		}

		.BsO9 p {
			text-align: center;
		}
	}
}

@media only screen and (max-width: 450px) {
	.Bso-SubHead div {
		color: white;
		height: 7rem !important;
	}

	.Bso-SubHeadList {

		padding: 1.5rem 0.1rem 0 0.1rem;
	}

	.Bso-SubHeadList a {
		font-size: 0.6rem;

	}

	.BsO1 h1 {
		font-size: 1.4rem !important;
	}

	.BsO2List img {
		height: 5rem;
	}
	.sub-BsO6List {
		font-size: smaller;
		padding-left: 0;
		padding-right: 0;
	}



	.BsO7 h5 {
		font-size: smaller;

	}

	.BsO7 p {
		font-size: smaller;
	}

	.sub-BsO7List img {
		width: 15rem;
	}
}

/* ir-footer end */






/* Business Overview end */
