@font-face {
   font-family: 'GothamBook';
   font-display: swap;
   src: url('file:///C:/Users/adinan.h/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-07-26_105822/fonts/GothamBook/font.ttf');
}
