/* Full Screen Vertical Scroll Snap start */

html,
body,


/* html {
	scroll-snap-type: y mandatory;
} */

.FullScreenVerticalScroll {
	/* scroll-snap-stop: always; */
	scroll-snap-align: center ;
	scroll-snap-type: y mandatory;
	block-size: 100%;
	/* overflow-y: hidden; */

}






body {
	font-family: "GothamMedium";

}



#BttBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	font-size: 18px;
	border: none;
	outline: none;

	color: white;
	cursor: pointer;
	padding: 5px;
	border-radius: 4px;
	z-index: 9999;
  }
  
  #BttBtn:hover {
	background-color: #555;
  }

/* Full Screen Vertical Scroll Snap end */

/* edit css  start ********************************************************************************** */

/* navbar start___________________________________________________________________________________________________________________________________________________ */

/* navbar3 start */

.main-wrapper img {
	padding-top: 1%;
	width: 100%;
	display: block;
}
.main-wrapper a {
	color: #000;
	text-decoration: none;
}
.main-wrapper ul li {
	list-style-type: none;
}
.navbar3 {
	background: transparent;
	/* position: fixed; */
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	max-height: 100vh;
	display: flex;
	flex-direction: column;
	z-index: 1000;
	transform: translate(0%, 190%);
	margin-top: -6%;
	


}

.logo-container {
	display: flex;
	text-shadow: 4px 4px 6px #000000;
	justify-content: flex-end;
	gap: 0.25rem;
}

.LOGO {
	justify-content: left;
	/* padding: 5rem 0; */
	justify-content: left;
	flex: 0 0 9%;

}

.emsp {
	justify-content: space-between;
}

.navTH {
	justify-content: right;
	font-size: 12px;
}

.navbar3-brand {
	font-size: 1rem;
	letter-spacing: 3px;
	font-weight: 700;
}
.navbar3-toggler {
	display: block;
	border: none;
	background: transparent;
	font-size: 1rem;
	cursor: pointer;
	padding: 0.2rem 0.5rem;
	transition: all 0.4s ease;
	border: 2px solid #000;
	border-radius: 4px;
}
.navbar3-toggler:hover {
	opacity: 0.7;
}
.navbar3-collapse {
	overflow-y: scroll;
	display: none;
}

.navbar3-nav {
	display: flex;
	align-items: center;
	justify-content: right;
}

.navbar3-nav > li > a {
	text-transform: uppercase;
	font-size: 3rem;
	font-weight: 700;
	display: block;
	padding: 0.6rem 0;
	margin: 0.2rem 0;
	border-bottom: 1px solid #fff;
	border-radius: 1px;
	position: relative;
	transition: all 0.4s ease;
	color: #fff;
}
.drop-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.navbar3-nav > li > a:hover {
	opacity: 0.7;
	color: #149dcc;
}
.sub-menu h4 {
	text-transform: capitalize;
	font-size: 1rem;
	padding: 0.5rem 0;
}
.sub-menu ul li {
	text-transform: capitalize;
	padding: 0.2rem 0;
	margin: 0.2rem 0;
	font-size: 0.8rem;
}
.sub-menu ul li a {
	opacity: 0.8;
	transition: all 0.5s ease;
}
.sub-menu ul li a:hover {
	padding-left: 14px;
	opacity: 0.9;
	color: #149dcc;
}
.sub-menu {
	display: none;
}

.sub-menu-item {
	padding-left: 1.2rem;
}

.sub-menu-item:nth-child(3) {
	background: #ddd;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 2rem;
}

.sub-menu-item:nth-child(3) .btn:hover {
	background: transparent;
}
.sub-menu-item:nth-child(4) {
	width: 100%;
	margin: auto;
	padding: auto;
}

/* Media Queries */

@media screen and (max-width: 1600px) {
	.navbar3 {
		margin-top: -10%;
		

	}

	.navbar3-nav > li > a {
		text-transform: uppercase;
		font-size: 3rem;
	}
}

@media screen and (min-width: 992px) {
	.navbar3 {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;
		position: relative;
		padding-left: 5%;
		padding-right: 5%;

	}
	.navbar3-toggler {
		display: none;
	}

	.LOGO {
	
		border-bottom: none;
		padding: 0;

	
	}

	.navTH {
		flex: 0 0 6%;
		border-bottom: none;
		padding: 0;
	}

	.navbar3-collapse {
		display: block !important;
		overflow-y: hidden;
		flex: 1 0 auto;
	}
	.navbar3-nav {
		margin-top: 0%;
		margin-bottom: 0%;
	}
	.navbar3-nav > li > a {
		border-bottom: none;
		margin: 0 0.4rem;
		padding: 1.7rem 1rem 1.7rem 1rem;
		font-size: 0.6rem;
	}
	.sub-menu {
		position: absolute;
		left: 0;
		width: 100%;
		top: 100%;
		background: #fff;
	}
	.navbar3-nav > li:hover .sub-menu {
		display: grid !important;
		grid-template-columns: repeat(4, 1fr);
		padding: 0 5rem;
	}
	.navbar3-nav > li {
		/* border-bottom: 2px solid transparent;   เส้นเมนู */
		transition: border-bottom 0.4s ease;
	}
	.navbar3-nav > li:hover {
		border-bottom-color: #149dcc;
	}
	.sub-menu-item {
		padding-left: 0;
	}
	.sub-menu-item:nth-child(3) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media screen and (max-width: 430px) {
	.navbar3-nav > li > a {
		text-transform: uppercase;
		font-size: 1rem;
	}
}

/* navbar3 end */

/*  navbar end */

/* video bg (home-1) start_________________________________________________________________________________________________________________ */
/* ตั้งค่าพื้นหลังของหน้าเว็บเป็นแบบเต็มจอ */


#video-container {
	position: relative;
	/* width: 100vw;
	height: 100vh; */
	overflow: hidden;
	block-size: 100%;
	/* margin-top: 7%; */
}

#video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

/* @media screen and (max-width: 1600px) {
	#video-container {
		margin-top: 10%;
	}
} */



/* #video-controls {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
    } */
/* video bg (home-1) end */

/* parallax-intro (home-2) start ________________________________________________________________________________________________________________________________________________________________________________ */

.parallax-intropala {
	background-image: url("../../../assets/images/web-cmonew-3-2000x766.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.parallax-intropala h4 {
	font-family: "GothamBook";
	font-size: 44px;
	font-weight: 1000;
	color: #fff;
	text-shadow: 4px 4px 6px #000000;
	text-align: center;
	vertical-align: middle;
	padding: 20%;
}

@media screen and (max-width: 920px) {
	.parallax-intropala h4 {
		font-size: 30px;
		padding-top: 60%;
	}
}

@media screen and (max-width: 430px) {
	.parallax-intropala h4 {
		font-size: 20px;
		padding-top: 70%;
	}
}

/* parallax-intro (home-2) end */

/* about_us (home-3) start___________________________________________________________________________________________________________________________________________________________________________ */

.about_uspala {
	background-image: url("../../../assets/images/Web-CMONew-3.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.about_uscont {
	font-family: "GothamBook";
	text-align: center;
	vertical-align: middle;
	text-shadow: 4px 4px 6px #000000;
	color: #fff;
	padding-left: 30%;
	padding-right: 30%;
	padding-top: 12%;
}

.about_uscont h1 {
	font-family: "GothamBold";
	font-size: 58px;
	font-weight: 800;
	padding: 1%;
}

.about_uscont p {
	font-size: 16px;
	text-align: left;
	padding: 1%;
}

@media screen and (max-width: 1600px) {
	.about_uscont {
		padding-left: 25%;
		padding-right: 25%;
		padding-top: 7%;
	}
}

@media screen and (max-width: 920px) {
	.about_uscont {
		padding-left: 20%;
		padding-right: 20%;
		padding-top: 20%;
	}

	.about_uscont h1 {
		font-size: 30px;
	}

	.about_uscont p {
		font-size: 12px;
	}
}

@media screen and (max-width: 430px) {
	.about_uscont {
		padding-top: 30%;
	}
}

/* about_us (home-3) end */

/* work_stats (home-4) start______________________________________________________________________________________________________________________________________________________ */

/* runnumber start */
.runnumber-container {
	display: inline-block;
	font-size: 24px;
	color: #333;
	border: 1px solid #333;
	padding: 5px 10px;
	border-radius: 5px;
	overflow: hidden;
	margin-right: 10px;
}

.runnumber {
	display: inline-block;
	animation: runnumber-animation 3s linear infinite;
	white-space: nowrap;
}

@keyframes runnumber-animation {
	0%,
	100% {
		transform: translateY(0);
		opacity: 0;
	}
	10%,
	90% {
		transform: translateY(-100%);
		opacity: 1;
	}
}
/* runnumber end */

/* work_stats (home-4) end */

/* home-5 start */
.home-5pala {
	background-image: url("../../../assets/images/web-cmonew-9-2000x1125.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-5pala h1 {
	font-family: "GothamBold";
	font-size: 70px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 4px 4px 6px #000000;
	color: #fff;
	padding: 22%;
}

@media screen and (max-width: 920px) {
	.home-5pala {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 45%;
	}

	.home-5pala h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 430px) {
	.home-5pala {
		padding-top: 60%;
	}
}
/* home-5 end */

/* home-6 start */
.home-6pala {
	background-image: url("../../../assets/images/web-cmonew-8-2000x1125.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-6pala h1 {
	font-family: "GothamBold";
	font-size: 70px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 4px 4px 6px #000000;
	color: #fff;
	padding: 22%;
}

@media screen and (max-width: 920px) {
	.home-6pala {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 45%;
	}

	.home-6pala h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 430px) {
	.home-6pala {
		padding-top: 60%;
	}
}
/* home-6 end */

/* home-7 start */
.home-7pala {
	background-image: url("../../../assets/images/web-cmonew-7-2000x1125.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-7pala h1 {
	font-family: "GothamBold";
	font-size: 70px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 4px 4px 6px #000000;
	color: #fff;
	padding: 22%;
}

@media screen and (max-width: 920px) {
	.home-7pala {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 45%;
	}

	.home-7pala h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 430px) {
	.home-7pala {
		padding-top: 60%;
	}
}
/* home-7 end */

/* home-8 start */
.home-8pala {
	background-image: url("../../../assets/images/web-cmonew-11-2000x1125.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-8pala h1 {
	font-family: "GothamBold";
	font-size: 70px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 4px 4px 6px #000000;
	color: #fff;
	padding: 22%;
}

@media screen and (max-width: 920px) {
	.home-8pala {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 45%;
	}

	.home-8pala h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 430px) {
	.home-8pala {
		padding-top: 60%;
	}
}
/* home-8 end */

/* home-9 start */
.home-9pala {
	background-image: url("../../../assets/images/web-cmonew-12-2000x1125.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.home-9pala h1 {
	font-family: "GothamBold";
	font-size: 70px;
	text-align: center;
	vertical-align: middle;
	text-shadow: 4px 4px 6px #000000;
	color: #fff;
	padding: 22%;
}

@media screen and (max-width: 920px) {
	.home-9pala {
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 45%;
	}

	.home-9pala h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 430px) {
	.home-9pala {
		padding-top: 60%;
	}
}
/* home-9 end */

/* news (home-10) start____________________________________________________________________________________________________________________________________________ */

.news-h10pala {
	background-image: url("../../../assets/images/web-cmonew-9-2000x1120.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.news-h10cont {
	font-family: "GothamBook";
	text-align: center;
	vertical-align: middle;
	color: #000;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 8%;
}

.news-h10cont h1 {
	font-family: "GothamBold";
	font-size: 58px;
	font-weight: 600;
	padding: 1%;
	text-align: center;
}
.news-h10cont h4 {
	font-family: "GothamBook";
	font-size: 20px;
	font-weight: 400;

	text-align: center;
}

.news-h10cont p {
	font-size: 16px;
	text-align: left;
	padding: 1%;
}

.readbtn {
	font-weight: bold;
	padding-top: 10%;
	color: #2196f3;
}

.readbtn :hover {
	font-weight: 600;
	color: ;
}

@media screen and (max-width: 1600px) {
	.news-h10cont {
		padding-top: 3%;
	}
}

@media screen and (max-width: 920px) {
	.news-h10cont {
		padding-left: 2%;
		padding-right: 2%;
		padding-top: 5%;
	}

	.news-h10cont h1 {
		font-size: 30px;
	}

	.news-h10cont h4 {
		font-size: 16px;
	}
	.news-h10cont p {
		font-size: 12px;
	}
}

@media screen and (max-width: 430px) {
	.news-h10cont {
		padding-top: 15%;
	}
}

/* Explore more btn  */
.explore-button {
	background-color: #004e76;
	color: white;
	border: none;
	border-radius: 15px;
	padding: 3px 15px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
}

.explore-button:hover {
	background-color: #081c38; /* สีเมื่อโฮเวอร์ */
	transform: scale(1.3); /* อนิเมชั่นเวลาโฮเวอร์ */
}

.explore-button:active {
	transform: scale(1.5); /* อนิเมชั่นเวลาคลิก */
}

/* news (home-10) end */

/* contract (home-11) start */

.contractpala {
	background-image: url("../../../assets/images/web-cmonew-10-2000x1120.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contractcont {
	color: #fff;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 5%;
}

.contractrow3b {
	display: flex;
	margin: 0%;
	grid-gap: 0%;
	justify-content: center;
	padding-left: 0%;
	padding-right: 0%;
	padding-top: 2%;
}

.google-map {
	height: 90%;
	position: relative;
}

.google-map [data-state-details] {
	color: #6b6763;
	font-family: "GothamBook";
	height: 1.5em;
	margin-top: -0.75em;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 100%;
}

.google-map iframe {
	height: 100%;
	width: 100%;
}

.google-map[data-state] {
	background: #e9e5dc;
}

.cid-tMkml1Z8MV .google-map[data-state="loading"] [data-state-details] {
	display: none;
}

.controw {
	display: flex;
}

.contractdetail h3 {
	font-family: "GothamBold";
	font-size: 40px;
	text-align: left;
	padding-top: 3%;
	padding-bottom: 3%;
}

h4 {
	font-family: "GothamBook";
	font-size: 20px;
	text-align: left;
	font-weight: bold;
}

ul {
	padding-inline-start: 0;
}
li {
	text-align: left;
	list-style-type: none;
	font-size: 18px;
	font-family: "GothamBook";
}

.contlogo img {
	height: 50px;
	padding-left: 0%;
}

a {
	color: #fff;
}

h5 {
	font-size: 16px;
	padding-top: 5%;
}

.contractpoly {
	font-size: 10px;
}

@media screen and (max-width: 1600px) {
	.contractcont {
		padding-top: 3%;
	}
	.contlogo img {
		height: 30px;
	}
	h3 {
		font-family: "GothamBold";
		font-size: 26px;
	}
	li {
		font-size: 16px;
	}
	h4 {
		font-size: 18px;
	}
	h5 {
		font-size: 14px;
	}
	.contractpoly {
		font-size: 8px;
	}
}

.google-map {
	height: 70%;
}

@media screen and (max-width: 920px) {
	.contractcont {
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 5%;
	}

	.contractrow3b {
		display: none;
	}

	.google-map {
		height: 30%;
	}

	h3 {
		font-family: "GothamBold";
		font-size: 20px;
	}
	li {
		font-size: 12px;
	}
	h4 {
		font-size: 10px;
	}
	h5 {
		font-size: 8px;
	}
	.contractpoly {
		font-size: 6px;
	}
}

@media screen and (max-width: 430px) {
	.contractcont {
		padding-top: 15%;
	}
}

/* contract (home-11) end */

/* workpage start_________________________________________________________________________________________________________________________________________________________________ */
.work_header {
	padding: 120px;
	text-align: center;
	background-image: url("../../../assets/images/Tum.png");
	background-position: center;
	color: white;
	font-size: 30px;
	text-shadow: 4px 4px 6px #000000;
}

.work_header h1 {
	font-size: 80px;
}

.work_header p {
	font-family: "GothamBook";
	font-weight: 450;
	padding-top: 5%;
}

.work_navbar {
	list-style: none;
	padding-bottom: 3%;
	padding-top: 3%;
	text-shadow: 4px 4px 6px #000000;
}

.work_menu {
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	justify-content: space-between;
}

.work_menu a {
	color: #fff; /* สีเริ่มต้น (สีดำ) */
}

.work_menu li.active a {
	color: #2196f3;
}

.work_menu li:hover a {
	color: rgba(43, 85, 241, 0.4);
}

.workpala {
	background-image: url("../../../assets/images/Web-CMONew-3.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
}

/* สร้างส่วนของเนื้อหาที่แสดงบนพื้นหลัง Parallax */
.workcont {
	padding: 3%; /* ปรับขอบข้อความตามที่ต้องการ */
	text-align: left; /* จัดข้อความให้อยู่ตรงกลาง */
}

/* work modal start */
.work-moldal-column {
	float: left;
	width: 25%;
}

/* The Modal (background) */
.work-modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 10%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
}

/* Modal Content */
.work-modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 80%;
	max-width: 1200px;
}

/* The Close Button */
.work-modal-close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.work-modal-close:hover,
.work-modal-close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

.work-modal-Slides {
	display: none;
}

.work-modal-cursor {
	cursor: pointer;
}

/* Next & previous buttons */
.work-modal-prev,
.work-modal-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.work-modal-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.work-modal-prev:hover,
.work-modal-next:hover {
	background-color: rgba(0, 35, 59, 0.8);
}

/* Number text (1/3 etc) */
.work-modal-numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	font-family: "GothamBook";
	font-weight: bold;
}

.work-modal-img {
	margin-bottom: -4px;
}

.work-modal-caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
	font-family: "GothamBook";
	font-weight: bold;
}

.work-modal-demo {
	opacity: 0.6;
}

.work-modal-active,
.work-modal-demo:hover {
	opacity: 1;
}

.work-modal-img.hover-shadow {
	transition: 0.3s;
}

.work-modal-hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal.modal-fullscreen .modal-dialog {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	max-width: none;
}

.modal.modal-fullscreen .modal-content {
	height: auto;
	height: 100vh;
	border-radius: 0;
	border: none;
}

.modal.modal-fullscreen .modal-body {
	overflow-y: auto;
}
.loading {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #060606d1;
	z-index: 9999;
}
/* work modal end */

/* new work page start______________________________________________________________________________________________________________________________________________ */

.new-workpala {
	background-image: url("../../../assets/images/AW-CMO-Our-Work-BG-EDIT.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */

	min-height: 1000px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
}

.new-workpala h1 {
	font-family: "GothamBook";
	font-size: 60px;
	font-weight: 900;
	color: #fff;
	text-shadow: 4px 4px 6px #000000;
	padding-top: 8%;
	text-align: center;
	padding-bottom: 7%;
}

.new-workcont {
	padding-top: 0%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	background-color: rgba(0, 35, 59, 0.8);
}

.new-workcont div.row {
	padding: 1%;
}

.new-work_navbar {
	list-style: none;
	padding-bottom: 3%;
	padding-top: 3%;
	text-shadow: 4px 4px 6px #000000;
}

.new-work_navbar .new-work_menu {
	padding-left: 5%;
	padding-right: 5%;
	display: flex;
	justify-content: space-between;
	padding-top: 1%;
	padding-bottom: 1%;
}

.new-work_navbar .new-work_menu a {
	color: #fff;
}

.new-work_navbar .new-work_menu li a.active {
	color: rgba(43, 85, 241, 0.4);
}

.new-work_navbar .new-work_menu li a:hover {
	color: #2196f3;
}

.work_navbar {
	display: flex;
	list-style: none;
}

.worknav {
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	padding-top: 2%;
	padding-bottom: 2%;
}

.work a {
	justify-content: space-between;
	display: block;
	color: #ffff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: "GothamBook";
	font-weight: 600;
}

.worknav a {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.worknav a:hover {
	color: #fff;
	border-radius: 1rem;
}

.worknav a.active {
	color: rgba(43, 85, 241, 0.4);
	font-weight: 800;
}

.card-img {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

.card-mid {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.card:hover .card-img {
	opacity: 0.3;
}

.card:hover .card-mid {
	opacity: 1;
}

.card-text {
	color: white;
	font-size: 1rem;
	position: absolute;
	font-family: "GothamBook";
	font-weight: bold;
	text-shadow: 2px 2px 4px #000000;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

/* new work page end */

/* newspage start________________________________________________________________________________________________________________________________________________________________________ */
.news_header {
	padding: 120px;
	text-align: center;
	background-image: url("../../../assets/images/CMO-NEW-1-2.png");
	background-position: center;
	color: white;
	font-size: 30px;
	text-shadow: 4px 4px 6px #000000;
}

.news_header h1 {
	font-size: 80px;
}

.news_header p {
	font-family: "GothamBook";
	font-weight: 450;
}

.news_navbar {
	display: flex;
	list-style: none;
}

.newsnav {
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0);
	padding-top: 2%;
	padding-bottom: 2%;
}

.newsnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	font-family: "GothamBook";
	font-weight: 600;
}

.newsnav a:hover {
	background-color: rgba(43, 85, 241, 0.4);
	color: white;
	border-radius: 1rem;
}

.newsnav a.active {
	color: #2196f3;
	font-weight: 800;
}

.newsnav .search-container {
	float: right;
}

.newsnav input[type="text"] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
	font-family: "GothamBook";
	border-radius: 1rem;
}

.newsnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
	border-radius: 70%;
	font-family: "GothamBook";
}

.newsnav .search-container button:hover {
	background: #ccc;
}

@media screen and (max-width: 600px) {
	.newsnav .search-container {
		float: none;
	}
	.newsnav a,
	.newsnav input[type="text"],
	.newsnav .search-container button {
		float: none;
		display: block;
		text-align: left;
		width: 100%;
		margin: 0;
		padding: 14px;
	}
	.newsnav input[type="text"] {
		border: 1px solid #ccc;
	}
}

.newspala {
	background-image: url("../../../assets/images/CMO-NEW-1-1.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */

	min-height: 500px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
}

/* สร้างส่วนของเนื้อหาที่แสดงบนพื้นหลัง Parallax */
.newscont {
	padding: 5%; /* ปรับขอบข้อความตามที่ต้องการ */
	text-align: left; /* จัดข้อความให้อยู่ตรงกลาง */
	color: black; /* สีข้อความ */
}

.news_row {
	display: flex;
	justify-content: space-between;
}

.new_box {
	padding: 1%;
	width: 25%;
	font-family: "GothamBook";
}

.new_box p {
	align-items: center;
}

.new_box p img {
	width: 100%;
}

/* news modal start */
.news-modal,
.news-modal-sandbox {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: transparent;
	font-family: "GothamBook";
}

.news-modal {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.8);
	overflow: auto;
}

.news-modal-box {
	position: relative;
	width: 80%;
	max-width: 920px;
	margin: 10%;
	/* animation-name: modalbox; */
	/* animation-duration: .4s;
	animation-timing-function: cubic-bezier(0,0,.3,1.6); */
}

.news-modal-header {
	padding: 20px 40px;
	background-image: url("../../../assets/images/CMO-NEW-1-2.png");

	background-position: center;
	color: white;
	text-shadow: 4px 4px 6px #000000;
	font-size: 1rem;
}

.news-modal-header h1 {
	padding: 1%;
}

.news-modal-body {
	background: #eceff1;
	padding: 60px 40px;
}

/* Close Button */
.news-close-modal {
	cursor: pointer;
	padding-top: 5%;
	text-align: end;
}

.news-close-modal:hover {
	text-shadow: 4px 4px 6px #a9a9a9;
	cursor: pointer;
	font-size: larger;
	transition: ease 0.2s;
}

/* Animation */
/* @-webkit-keyframes modalbox {
	0% {
		top: -250px;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
} */

/* @keyframes modalbox {
	0% {
		top: -250px;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
} */

.news-modal-trigger,
button {
	padding-left: 15%;
	background: transparent;
	font-weight: bold;
	color: #2196f3;
	border: 1px;
	text-decoration: none;
	border-radius: 4rem;
}

.news-modal-trigger {
	-webkit-transform: translate(-30%, -30%);
	-ms-transform: translate(-30%, -30%);
	-o-transform: translate(-30%, -30%);
	transform: translate(-30%, -30%);
	transition: ease 0.2s;
}

button {
	border: 1px;
	outline: none;
}

.news-modal-trigger:hover {
	padding: 20px 60px;
	text-shadow: 4px 4px 6px #a9a9a9;
	cursor: pointer;
	font-size: larger;
	transition: ease 0.2s;
}
/* news modal end */

/* newspage end */

/* servicespage start______________________________________________________________________________________________________________________________________________________________________________________________ */
.servicespala {
	background-image: url("../../../assets/images/Background-OUR-SERVICES-Edit.jpg"); /* ระบุ URL ของรูปภาพพื้นหลัง */

	min-height: 1000px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
}

.servicespala h1 {
	font-family: "GothamBook";
	font-size: 60px;
	font-weight: 900;
	color: #fff;
	text-shadow: 4px 4px 6px #000000;
	padding-top: 8%;
	text-align: center;
	padding-bottom: 7%;
}

.servicescont {
	padding-top: 0%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	color: #fff;
	display: flex;
	background-color: rgba(0, 35, 59, 0.8);
	margin-left: 3%;
	margin-right: 3%;
}
.services_1row {
	display: flex;
	justify-content: space-between;
	text-align: left;
	padding: 3%;
}

.services_columns {
	float: left;
	width: 50%;
}

.services_2row {
	display: flex;
	justify-content: space-between;
	text-align: left;
	padding: 3%;
}

.services_box {
	padding: 1%;
	width: 30%;
	font-family: "GothamBook";
}

.services_box p {
	align-items: center;
}

.services_box p img {
	width: 100%;
}

/* servicespage end */

/* About-1 start_______________________________________________________________________________________________________________________________________________________________________________________________________________ */
.about1pala {
	background-image: url("../../../assets/images/About-Page.png"); /* ระบุ URL ของรูปภาพพื้นหลัง */

	min-height: 800px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0;
}

.about1pala h1 {
	font-family: "GothamBook";
	font-size: 90px;
	font-weight: 1000;
	color: #fff;
	text-shadow: 4px 4px 6px #000000;
	padding-top: 20%;
	padding-bottom: 20%;
	text-align: center;
	padding-bottom: 7%;
}

/* About-1 end */

/* edit css  end*********************************************************************************************  */
