
.home-section01 h1 {
	font-size: 50px;
	font-weight: 700;
	color: #fff;
	text-shadow: 4px 4px 8px #000000;
	position: relative;
	font-family: "Montserrat", "Kanit", sans-serif !important ;
}

.home-section01 p {
	color: #fff;
	text-shadow: 4px 4px 8px #000000;
	position: relative;
	font-family: "Montserrat", "Kanit", sans-serif !important ;
}

.home-section02 {
	background-image: url("https://cmo-group.com/investor-relations/assets/img/ir-Home/home-key performance bg.jpg");
	background-size: cover;
	height: 100vh;
	/* width: 100vw; */
	justify-content: center;
	align-items: center;
	vertical-align: middle;
	font-family: "Montserrat", "Kanit", sans-serif !important ;
	display: flex;
}

.home-section02List1 {
	background-image: url("https://cmo-group.com/investor-relations/assets/img/ir-Home/home-key performance diagram 01.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 40vw;
	height: 35vh;
	justify-content: center;
	padding: 5%;
}

.home-section02List2 {
	background-image: url("https://cmo-group.com/investor-relations/assets/img/ir-Home/home-key performance diagram 02.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 40vw;
	height: 35vh;
	justify-content: center;
	padding: 5%;
}

.home-section02List3 {
	background-image: url("https://cmo-group.com/investor-relations/assets/img/ir-Home/home-key performance diagram 03.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 40vw;
	height: 35vh;
	justify-content: center;
	padding: 5%;
}

.home-section02-con {
	vertical-align: middle;
}

.home-section02-grid {
	color: #fff;
	text-align: center;
	padding: 0 15% 0 15%;
	display: flex;
	text-shadow: 4px 4px 8px #000000;
	font-size: 1.5rem;
	align-content: center;
	gap: 5%;
}

.home-section02TextList1 {
	font-size: 1.7rem;
	font-weight: bold;
}

.home-section02NumList {
	font-size: 3.2rem;
	font-weight: 700;
}

.home-section02TextList2 {
	font-size: 1.2rem;
	font-weight: lighter;
}

.home-section02 div h1 {
	display: flex;
	font-size: 50px;
	font-weight: 700;
	color: #4a7ab5;
	align-items: center;
	justify-content: center;
	padding: 5% 0 2% 0;
}
.section2-btn {
	padding-top: 5%;
	display: flex;
	justify-content: center;
}

.home-section02 button {
	color: #fff;
	background-color: #4a7ab5;
	border-radius: 30px;
	font-size: 1.3rem;
	padding: 0.2rem 2.5rem 0.2rem 2.5rem;
	border: transparent;
}

.home-section02 button hover {
	background-color: #264a75;
}

.home-section03 {
	padding: 5% 15% 5% 15%;
	gap: 5px;
	background-image: url("https://cmo-group.com/investor-relations/assets/img/ir-Home/home-stock price bg.jpg");
	background-size: cover;
	height: 100vh;
	/* width: 100vw; */
}

.home-section03SPdiv {
	background-color: rgba(255, 255, 255, 0.7);
	display: flex;
}

.home-section03SPdiv-col1 {
	font-size: 3rem;
	font-weight: 700;
	color: #183963;
	padding-left: 15%;
	padding-right: 15%;
	align-items: center;
	justify-content: center;
	padding-top: 10%;
}

.home-section03SPdiv-col2 {
	padding: 3rem 3rem 3rem 2rem;
}

.home-section04 {
	background-color: #fff;
	padding: 0 15% 0 15%;
	height: 100vh;
	/* width: 100vw; */
}

.home-section04grid {
	display: flex;
	padding: 5rem 0 0 0;
}

.home-section04grid-col {
	margin: 0 1% 0 1%;
}

.home-section04grid-col1-1 {
	height: fit-content;
}

.home-section04grid-col1-1 img {
	width: inherit;
}

.home-section04grid-col1-2 {
	background-color: #8eabd5;
	padding: 5%;
	color: #fff;
}

.home-section04grid-col1-2 button {
	background-color: transparent;
	border: none;
	color: #fff;
}

.home-section04grid-col2-1 {
	margin: 0 0 5% 0;
	background-color: #2c3882;
	padding: 5%;
	color: #fff;
}

.home-section04grid-col2-1 button {
	background-color: transparent;
	border: none;
	color: #8c99c6;
}

.home-section04grid-col2-2 {
	margin: 5% 0 0 0;
	background-color: #8c99c6;
	padding: 5%;
	color: #fff;
}

.home-section04grid-col2-2 div img {
	width: 5rem;
}

.home-section04grid-col2-2 button {
	background-color: transparent;
	border: none;
	color: #fff;
}

.home-section04grid-col3 button {
	color: #fff;
	background-color: #4a7ab5;
	border-radius: 30px;
	font-size: 1.3rem;
	padding: 0.2rem 2.5rem 0.2rem 2.5rem;
	border: transparent;
	margin-left: 10%;
}

.home-section04grid-col3 h1 {
	font-weight: 750;
	color: dimgray;
	margin: 10%;
}

.home-section05 {
	padding: 10% 5% 0 5%;
	background-image: url("https://cmo-group.com/investor-relations/assets/img/ir-Home/home-latest document bg.jpg");
	background-size: cover;
	height: 130vh;
	/* width: 100vw; */
}

.home-section05 h1 {
	padding: 2% 5% 5% 5%;
	font-weight: 700;
	color: #4a7ab5;
}

.home-section05grid-col {
	color: darkslategray;
}

.home-section05grid-col h5 {
	color: darkslategray;
	padding: 60% 20% 0 20%;
}

.home-section05grid-col1 {
	background-image: url("https://cmo-group.com/investor-relations/assets/img/ir-Home/home-latest document 56-1 bg.png");
	background-size: 15rem;
	background-repeat: no-repeat;
	display: block;
	background-position: center;
	height: 25rem;
}

.home-section05grid-col2 {
	background-image: url("https://cmo-group.com/investor-relations/assets/img/ir-Home/home-latest document financial bg.png");
	background-size: 15rem;
	background-repeat: no-repeat;
	height: 25rem;
	display: block;
	background-position: center;
}

.home-section05grid-col3 {
	background-image: url("https://cmo-group.com/investor-relations/assets/img/ir-Home/home-latest document management bg.png");
	background-size: 15rem;
	background-repeat: no-repeat;
	height: 25rem;
	display: block;
	background-position: center;
}

.home-section05grid-col4 {
	background-image: url("https://cmo-group.com/investor-relations/assets/img/ir-Home/home-latest document annual general bg.png");
	background-size: 15rem;
	background-repeat: no-repeat;
	height: 25rem;
	display: block;
	background-position: center;
}



// Footer


.footer-section {
	background-image: url("http://localhost/ir.cmo-group.com/assets/img/home-ir contact bg.jpg"); /* ระบุ URL ของรูปภาพพื้นหลัง */
	height: 40%;

	/* background-attachment: fixed; */
	/* background-position: center; */
	background-repeat: no-repeat;
	background-size: cover;
	/* scroll-snap-align: center ; */
	/* scroll-snap-stop: always; */
}

.footer-grid-container {
	display: grid;
	grid-template-columns: 50% 50%;
	gap: 5%;
	/* background-image: url("http://localhost/ir.cmo-group.com/assets/img/home-ir contact bg.jpg"); */
	padding: 5% 15% 8% 15% !important;
	color: white;
	font-size: 1rem !important;
	font-family: "Montserrat", "Kanit", sans-serif;
	text-align: center;
	vertical-align: middle;
}

.footer-grid-container h3 {
	font-size: 2.5rem !important;
	font-weight: 900 !important;
}

.footer-grid-container h4 {
	font-size: 1.5rem !important;
	font-weight: 900 !important;
}

.footer-grid-container > div {
	text-align: left;
}
.footer-item1 {
	grid-column-start: 1;
	grid-column-end: 2;
}

.footer-item1 ul {
	padding: 1.5rem 0 1rem 1rem;
}

.footer-item1 > ul > li {
	list-style: none;
	padding: 1rem 0 1rem -3rem !important;
}
.footer-item1 > ul > li > a {
	color: white;
	font-family: "Montserrat", "Kanit", sans-serif;
	text-decoration-line: none;
}
.footer-item1 > ul > li > img {
	height: 1rem;
	padding-right: 0.3rem;
}
.footer-item2 {
	grid-column-start: 2;
	grid-column-end: 3;
}
.footer-item2 .Sub-btn {
	text-align: left;
	padding-top: 4% !;
}
.footer-item2 .Sub-btn > button {
	font-size: 1.1rem;
	background-color: #9dd4f3;
	font-family: "Montserrat", "Kanit", sans-serif;
	border-color: #9dd4f3;
	border-radius: 20px;
	margin: 0.8rem;
	padding: 0 1.5rem 0 1.5rem !important;
}
.footer-item3 {
	grid-column-start: 1;
	grid-column-end: 3;
	gap: 0.25rem;
	justify-content: flex-end;
}

.footer-item3 > a {
	font-size: 0.8rem;
}

.footer-item3 > a > img {
	width: 1rem;
	height: 1rem;
}

.footer-item2 {
	padding: 3.5rem 0 0 0;
}