@font-face {
   font-family: 'GothamLight';
   font-display: swap;
   src: url('file:///C:/Users/adinan.h/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-10-31_194547/fonts/GothamLight/font.ttf');
}
